[2018-10-19 05:00] saw303 opened #1 "Introduce support for the Spock Testing framework"

[2018-10-19 05:31] paulbakker commented on #1
I like it! Would you like to try contributing it (I'll work on it otherwise)?

[2018-10-19 06:03] saw303 commented on #1
I'd love to! But currently I wont find a spare time to actively develop that feature 😔. But I could contribute on early stage testing it on real world projects.

Please make sure that you use Spock 1.2-groovy-2.5 and at least Groovy 2.5.3. Anything else wont work on a Java 11 project

[2018-10-19 06:38] paulbakker commented on #1
It looks like Groovy is still broken if you try using it on the module-path :(

With
[code]

[2018-10-19 06:42] paulbakker commented on #1
Found the related Groovy issue as well: https://issues.apache.org/jira/browse/GROOVY-8647

[2018-10-20 08:29] iherasymenko opened #4 "Add support for testImplementation configuration"
I've run into an issue in one of my pet projects. JUnit Platform was not detected as a test dependency hence I got this error:

Since the testCompile configuration has been [deprecated](https://docs.gradle.org/current/userguide/java_plugin.html#tab:configurations) I believe it would be better to replace all the mentions of "testCompile" in the plugin code as long as make the plugin compatible with

[2018-10-20 08:42] iherasymenko opened #5 "Replace deprecated `compile/runtime` configurations with `implementation`/`runtimeOnly` configurations"
A complement to #4. `compile' scope has also been deprecated.

I believe it shouldn't be used in the example project.

[2018-10-20 15:12] paulbakker commented on #4
Thanks a lot for the PR! I wasn't aware that `testCompile` is deprecated, so thanks for fixing this.

[2018-10-20 15:15] paulbakker commented on #4
Closing because this was fised by @iherasymenko

[2018-10-20 15:15] #4 closed

[2018-10-20 15:18] paulbakker commented on #5
Thanks for the PR!

[2018-10-20 15:18] #5 closed

[2018-10-20 18:06] paulbakker opened #10 "Setup CI on github"

[2018-10-20 18:10] paulbakker opened #11 "Create DSL support to --add-modules"
It should be easy to specify extra `--add-modules`. One use case is when extra modules are required when using the application plugin. This could also apply to scenarios when the actual application doesn't have a `module-info.java`.

[2018-10-22 19:19] DJViking opened #13 "Fails building with Javadoc"
This plugin does not work when building with Javadoc

    /home/sverre/workspace/movies/src/main/java/module-info.java:6: error: module not found:
    javafx.controls
        requires javafx.controls;
                   ^
    /home/sverre/workspace/movies/src/main/java/module-info.java:7: error: module not found: javafx.fxml
        requires javafx.fxml;
                   ^
    /home/sverre/works

[2018-10-23 07:48] sormuras opened #17 "Support `module-info.test` configuration file"
Consider supporting a build-tool agnostic `module-info.test` text file that contains the `java` command line options needed to make white-box testing work.

For more details about the idea see https://sormuras.github.io/blog/2018-09-11-testing-in-the-modular-world#white-box-modular-testing-with-extra-java-command-line-options

An implementation ~~can be~~ was copied from here:

https://github.com/

[2018-10-23 20:01] aalmiray commented on #13
Encountered this problem too when testing out this plugin with the aalmiray/ikonli build. Resorted to the following

    suprojects { subproj ->
        afterEvaluate {
            javadoc {
                inputs.property('moduleName', subproj.moduleName)
                doFirst {
                    options.addStringOption('-module-path', classpath.asPath)
                    classpath = files()

[2018-10-23 23:20] paulbakker commented on #13
First part of a fix in this PR: #20.
Still wouldn't fix the problem for @DJViking, because we need a way to specify extra modules. I'm considering adding dsl syntax for this, such as:

[code]

[2018-10-24 04:05] sormuras commented on #17
### Motivation Part II

- Why should white box testing "feel and code" different than black box testing?
- Why use "command line flags" or "magic build tool support" when there already exist a general purpose "DSL" for describing your modular (testing) setup?

See this [Maven Blueprint](https://sormuras.github.io/blog/2018-09-11-testing-in-the-modular-world#maven-blueprint) for a brief overview an

[2018-10-24 05:06] #17 closed

[2018-10-24 05:07] paulbakker commented on #17
Thanks for the explanation. I wasn't familiar with this idea, but it looks really useful!
PR is merged, thanks for doing this 👍

[2018-10-24 05:16] sormuras commented on #17
You're welcome!

[2018-10-25 17:38] paulbakker commented on #13
Fixed with #20 and #21

[2018-10-25 17:38] #13 closed

[2018-10-25 17:38] paulbakker commented on #11
#21

[2018-10-25 22:56] #11 closed

[2018-10-26 09:48] johanvos opened #23 "DSL approach fails when no module-info.java found"
The execJava task is only extended in case a module-info.java is found. Hence, moduleOptions() is not recognised in case the application your want to run itself is no module

[code]

[2018-10-30 15:12] aalmiray opened #26 "Failure to locate resources when the application plugin is in use"
Using the `application` plugin in conjunction with the `modularity` plugin results in error when attempting to load resources found in the same package. Take the following project structure

    .
    ├── build.gradle
    ├── gradle
    │   └── wrapper
    │       ├── gradle-wrapper.jar
    │       └── gradle-wrapper.properties
    ├── gradlew
    ├── gradlew.bat
    └── src
        └── main

[2018-10-30 18:06] weiqigao opened #27 "Test resources not patched into the module under test."
This might be related with #26.

When I modularize a simple application with a test that loads a test resource file by adding a module-info.java file in src/main/java and apply to moduleplugin to build.gradle, the test fails.

Here's a simple project that exhibits the issue: [https://github.com/weiqigao/moduleplugin-test-resources-issue/tree/master/src](https://github.com/weiqigao/moduleplugin-tes

[2018-10-30 22:32] weiqigao commented on #27
A workaround is to copy the test resources to the test classes directory:

[code]

It does not feel clean, but it works for my project.

[2018-10-31 15:58] weiqigao opened #28 "When used with the application plugin, the Windows batch file generated by distZip contains %APP_HOME%lib instead of %APP_HOME%\lib"
This is a simple case of the String.replaceAll() treats its parameters as regular expressions and somehow eats the backslash in "%APP_HOME%\\lib".

[2018-11-02 03:38] #28 closed

[2018-11-02 03:38] #23 closed

[2018-11-02 23:33] DJViking opened #33 "Support for Eclipse plugin"
Could this plugin assist with eclipse?

In order to put dependencies on the modulepath instead of classpath I have used the following eclipse configuration in my projects.

    eclipse {
        classpath {
            file {
                whenMerged {
                    entries.findAll { isModule(it) }.each {
                        it.entryAttributes['module'] = 'true'
                    }

[2018-11-02 23:46] paulbakker commented on #13
Is the `org.apache.logging.log4j` module configured as a dependency?

[2018-11-03 09:03] DJViking commented on #13
Yes,

build.gradle

    apply from: rootProject.file('dependencies.gradle')

dependencies.gradle

    final def log4jGroup = 'org.apache.logging.log4j'
    final def log4jVersion = '2.11.1'

    dependencies {
        compile group: log4jGroup, name: 'log4j-api', version: log4jVersion
        compile group: log4jGroup, name: 'log4j-core', version: log4jVersion
        compile group: 'com.lmax', na

[2018-11-05 17:50] weiqigao opened #36 "TestTask uses ":" where File.pathSeparator should be used"
It fails on Windows.

[2018-11-06 16:43] weiqigao opened #37 "Feature request: handling split package modules issues"
Certain well-known, often-used jar files exhibit split package issues when both were put on the module path.  One pair that I encountered is the conflict between
[code]
and
[code]
Fortunately, this conflict can be resolved by putting only one of them on the module path and then patch it with the content of the other.  This can be achieved by applying snippets of Gradle codes for the `compileJava`,

[2018-11-06 18:37] paulbakker commented on #37
This is an interesting one. Have you put any thought in how it could be configured in the plugin already? E.g. how do I, as a user, configure which modules are kept, and which ones are patched into others.

[2018-11-06 19:17] weiqigao commented on #37
The split package issue manifest itself through the following Gradle error:
[code]
At this point I know that the conflicting modules are `java.annotation` and `jsr305`.  Since they don't share any common class files but only a common package name, the patching strategy will work by picking one of the modules to be kept on the module path, and exclude the other module from the module path and patch

[2018-11-06 19:47] mwkroening commented on #37
In [Chainsaw](https://github.com/zyxist/chainsaw/wiki/Chainsaw-DSL-since-0.3.0) it works like this:

"`patches('patchingDependency', 'patchedModule')` produces `--patch-modules` flags. The first argument is the dependency ID (`group:artifact`), and the second - the module being patched."

"All patching dependencies must be specified in a special patch configuration."

[2018-11-06 20:34] paulbakker commented on #37
Thanks @mwkroening, that's useful.
@weiqigao I'm thinking this should be "global" config that applies to all tasks right?

[2018-11-06 20:35] paulbakker commented on #36
Any way I can tempt you into making a PR? It would save me from setting up a Windows VM and all that   :)

[2018-11-06 21:47] paulbakker commented on #36
That's great! Feel free to ping me for any questions you might have about
the code.

On Tue, Nov 6, 2018 at 1:24 PM Weiqi Gao <notifications@github.com> wrote:

[2018-11-06 23:15] weiqigao commented on #37
@paulbakker Yes.

[2018-11-06 23:30] #36 closed

[2018-11-10 18:43] DJViking commented on #13
Will #34 fix this last remaining problem?

[2018-11-10 19:14] paulbakker commented on #13
That's already merged in the last release, so if you're using that and it still doesn't work, there's another problem. If so, feel free to reopen this.

[2018-11-10 19:28] DJViking commented on #13
I am using v1.1.1. The #34 was merged in after and there is no v1.1.2 available.

[2018-11-12 10:04] saw303 commented on #1
Update regarding Java 11 compatibility. Groovy 2.5.4 has been released that fixes annoying stuff when working on Java 11.

But https://issues.apache.org/jira/browse/GROOVY-8647 is still open.

[2018-11-20 14:43] tiainen opened #40 "--patch-module must be declared before --module"
The run task adds a `--patch-modules` jvm argument to the java process to allow it to access its resources. However, it seems that the option is ignored when the argument is added *after* the `--modules` argument.

Simply switching the arguments allows the java process to access its resources again.

[2018-11-20 16:19] #40 closed

[2018-11-21 09:12] DJViking opened #42 "Seems not to handle automatic modules"
It does not seem that plugin handles non-modular dependencies which becomes automatic modules.

build.gradle

    dependencies {
        compile group: 'com.google.protobuf', name: 'protobuf-java', version: protobufVersion
    }

module-info.java

    module no.spacetec.mcpb {
        requires protobuf.java';
    }

It cannot find this module on compileJava

    10:08:12.933 [DEBUG] [org.gradle.ap

[2018-11-21 15:57] sdavids opened #43 "Support testing both on class-path and module-path in one run"
https://blog.joda.org/2018/03/jpms-negative-benefits.html

With the [current support](https://github.com/java9-modularity/gradle-modules-plugin#fall-back-to-classpath-mode):

[code]

One would have to run Gradle twice:

[code]

**Request**

Something along the lines:

[code]

A single execution would test both:

[code]

[2018-11-21 16:08] paulbakker commented on #42
All dependencies are put on the module path, so that should turn any non-modular jars into automatic modules. It works successfully with other dependencies, so I'm not sure why this one doesn't work.
Have

[2018-11-21 16:55] DJViking commented on #13
Tried now with the latest v1.2.0, but getting same problem

/home/sverre/workspace/movies/src/main/java/module-info.java:12: error: module not found: org.apache.logging.log4j
    requires org.apache.logging.log4j;

[2018-11-21 17:32] DJViking commented on #42
Other dependencies works fine.
I just now tried with a different project, and I didn't get the problem with protobuf-java.
So probably a problem in my project I need to inspect.

[2018-11-21 18:13] DJViking opened #44 "The getClass().getResource returns null"
Creating an URL to a resource suddenly returned null. I could not find out why.

Happened when running 'gradle run'.

    URL location = getClass().getResource("movies.fxml");

Exception:

    Caused by: java.lang.IllegalStateException: Location is not set.
            at javafx.fxml/javafx.fxml.FXMLLoader.loadImpl(FXMLLoader.java:2459)
            at javafx.fxml/javafx.fxml.FXMLLoader.load(FXMLLo

[2018-11-22 05:45] tiainen commented on #44
This is a duplicate of issue #40 and has been fixed with v1.2.1.

[2018-11-22 08:14] DJViking commented on #44
Great, thanks.

[2018-11-22 08:14] DJViking commented on #42
I have verified that it actually works. The culprit is not the plugin. It was actually a problem with my project.

[2018-11-22 09:30] sandermak commented on #44
@DJViking thanks for reporting back. Feel free to open a new issue if you run into new problems with the next release.

[2018-11-22 09:30] #44 closed

[2018-11-23 18:48] siordache opened #45 "Kotlin support"
The plugin cannot be currently used to build Kotlin projects.
Do you think Kotlin support would be a useful feature?
If yes, I will submit a pull request shortly.

[2018-11-25 20:16] siordache commented on #45
I took the lack of feedback as a resounding _yes_ and submitted [the PR](https://github.com/java9-modularity/gradle-modules-plugin/pull/46).

It makes the following changes:
- in CompileJavaTaskMutator: configure the same destinationDir for compileJava and compileKotlin.
- in TestTask:
	- patch the module with all test classes (instead of only java test classes).
	- 'add-opens' all test packages (

[2018-12-03 21:43] paulbakker commented on #45
Merged, and rolled out 1.3.0 release.

[2018-12-03 21:43] #45 closed

[2018-12-03 21:50] paulbakker commented on #45
@siordache Are you on Twitter? I want to announce the new release and mention you in it.

[2018-12-03 22:11] siordache commented on #45
Yes, I am: https://twitter.com/beryx007

[2018-12-04 08:41] tiainen opened #47 "Discussion: revert non-modular support"
When we started writing the JavaFX samples (https://github.com/openjfx/samples), this plugin was used to remove boiler plate code for handling modular projects. Within these samples, there is a clear distinction between modular and non-modular projects. For modular projects, there is no problem as the plugin works as intended. However, using JavaFX in non-modular projects is a bit tricky as there

[2018-12-04 16:28] aalmiray opened #48 "Feature request: allow any JavaExc task to be enhanced"
Currently the `org.javamodularity.moduleplugin.tasks.RunTask` class enhances the `JavaExec` gradle task if and only the `application` plugin is applied. See https://github.com/java9-modularity/gradle-modules-plugin/blob/master/src/main/java/org/javamodularity/moduleplugin/tasks/RunTask.java#L29

I have the need to enhance other `JavaExec` tasks that are not provided by the `application` plugin (se

[2018-12-04 21:17] siordache commented on #48
Is someone already working on this? If not, I will give it a try.

[2018-12-05 13:38] siordache commented on #48
@aalmiray I submitted a pull request. See usage [here](https://github.com/java9-modularity/gradle-modules-plugin/blob/0f60ff3b2db9b5393b7760dd1ed4f9ba7955198f/test-project/greeter.demo/build.gradle#L12-L19).

[2018-12-05 17:02] paulbakker commented on #48
PR looks good @siordache!

@aalmiray Can you review the PR as well to check it works for your usecase?

[2018-12-05 17:38] aalmiray commented on #48
LGTM! Thank you :-)

[2018-12-06 04:44] paulbakker commented on #47
What do you think are the downsides of keeping this code? I don't really have an opinion for/against, so I'm trying to understand what the implications are.

[2018-12-06 16:59] paulbakker commented on #47
That’s a pretty strong argument 👍
I agree to roll back those changes. Could you create a for this PR?

[2018-12-06 17:36] tiainen commented on #47
Sure, I'll take care of it.

[2018-12-17 16:01] bjorndarri opened #53 "module-info.test used in compileJava task"
#17 My understanding is that the **module-info.test** file is only for test source compilation and running tests, but it is also used when compiling the main source set, see _org.javamodularity.moduleplugin.tasks.CompileJavaTaskMutator:24_.
This is problematic since the modules referenced in **module-info.test** may only be available as test dependencies (I kept getting "module not found" errors i

[2018-12-18 18:29] DJViking opened #54 "Fix to support incremental builds"
The compileJava is always not up-to-date because of the moduleplugin

    Task ':compileJava' is not up-to-date because:
      Task ':compileJava' has an additional action that was implemented by the Java lambda
     'org.javamodularity.moduleplugin.tasks.CompileTask$$Lambda$2
    15/0x00000001005d0040'. Using Java lambdas is not supported, use an (anonymous) inner class instead.
    All input fil

[2018-12-18 18:46] DJViking commented on #54
I have made these changes and will submit a merge request.

[2018-12-19 01:03] paulbakker commented on #54
merged

[2018-12-19 01:03] #54 closed

[2018-12-19 01:03] paulbakker commented on #48
Merged

[2018-12-19 01:03] #48 closed

[2018-12-19 10:37] siordache commented on #53
@bjorndarri You're right. The command line options from module-info.test should only be applied to test-related tasks. I submitted a PR.

[2018-12-20 20:38] paulbakker commented on #53
Merged

[2018-12-20 20:38] #53 closed

[2018-12-21 12:11] siordache commented on #37
What about supporting a `module-info.main` text file, similar to the `module-info.test` introduced in #17?
This would allow not only `--patch-modules`, but also other command line options that may be needed to configure a modular application.

[2018-12-21 17:13] paulbakker commented on #37
@siordache I think the ergonomics would be better to have dsl support in the build file. IMO these things typically need to be in the build file, not in an external file.
BTW, I'm working on this feature, should be coming up soon.

[2018-12-21 17:15] siordache commented on #37
Great, that's a very useful feature.

[2018-12-27 05:41] paulbakker commented on #37
@weiqigao @siordache @mwkroening I've created a PR with this implemented. It's being used in the test project, and all tests are passing.
Since it's a big PR, would you be able to review and test?

[2018-12-28 05:43] weiqigao commented on #37
Paul,

Thanks for providing this patch.

I tested this branch with my sample project https://github.com/weiqigao/jsr305-split-package-issue.

I build the plugin and published it to `mavenLocal()`.

I then applied the plugin in my project, making sure it is pulling it from `mavenLocal()`.

I then added the snippet

[code]

to my `build.gradle` and removed the various `compileJava`, `run`, `startScr

[2018-12-28 17:59] paulbakker commented on #37
@weiqigao Thanks for testing, because you found a bug!
Submitted a fix to the PR. Would you mind double checking it's fixed?

[2018-12-28 18:34] paulbakker commented on #37
@weiqigao Excellent! I just added some new smoke tests to verify this behavior as well.

[2018-12-28 22:52] paulbakker commented on #37
Merged and released.

[2018-12-28 22:52] #37 closed

[2019-01-12 10:13] AdamCarroll opened #60 "Application plugin run task not working in sample project"
Thanks for your work on this useful plugin!

Unfortunately, the `application` plugin `run` task is not working in the sample project.  See the following for an example of the problem:
[code]
This was tested with the JDK from AdoptOpenJDK:
[code]

[2019-01-13 22:25] abrandimarti opened #61 "DSL support to --add-opens"
If I try
[code]
I run into java options order problem:

[code]

**Maybe** the DSL could also support `--add-opens`.

For example
[code]

[2019-01-14 10:29] aanno opened #62 "[Question] Is there a kotlin DSL syntax for patchModules?"
I couldn't find out if there is a kotlin DSL equivalent of

[code]

[2019-01-14 10:58] siordache commented on #62
The syntax is:
[code]

I submitted a PR to include `patchModules.config` in `test-project-kotlin`.

[2019-01-14 11:31] aanno commented on #62
I tried but I also ways get

[code]

In what context must `patchModules` reside?

[2019-01-14 11:57] siordache commented on #62
It should reside in the main context, as shown [here](https://github.com/beryx/gradle-modules-plugin/blob/e7ded3fdf841f8a14269439da7132538464844c2/test-project-kotlin/greeter.runner/build.gradle.kts#L36).

Do you use the version 1.4.0? Can you post your` build.gradle.kts`?

[2019-01-14 13:08] siordache commented on #62
I sent you a [pull request](https://github.com/aanno/db-toolchain/pull/1). Does it fix your build?

[2019-01-14 14:50] aanno commented on #62
Awesome! Thank you very much!

[2019-01-14 14:50] #62 closed

[2019-01-23 08:39] akurilov commented on #26
So, what is the way to workaround this?

[2019-01-28 19:19] akabanov57 opened #65 "unexpected arguments in main"
Hello,
plugin version - "1.4.0",
git - "gradle-modules-plugin-example",
project - "greater.runner'.
If we add to Runner.main(String[] args)
for (String arg: args) {
   System.out.println(arg);
}
and run application, than we will find in output:
-Dfile.encoding=UTF-8
-Duser.country=US
-Duser.language=en
-Duser.variant
greeter.runner/examples.Runner
Hello and welcome!
It seems these arguments should

[2019-02-01 11:39] mirko-lelansky commented on #65
I have related problems in combination with the cli library "picocli" and java modules. The problem are the standard start script generators templates of gradle see "unixStartScript" and "windowsStartScript". At the very end of the templates there is the substitution of the variables. If you use the classpath the cmd should be something like this `java -classpath ... mainClassName` but with the mo

[2019-02-02 10:57] aanno opened #66 "Additional action for task ':startScripts': was implemented by the Java lambda"
In version 1.4.0 I see the following warning when using `--build-cache --info`:

[code]
For me, it seems to be an issue in the lines of #54

[2019-02-06 19:19] paulbakker commented on #66
I just published 1.4.1 which replaces a bunch more lambdas. Could you verify it's fixed?

[2019-02-06 19:20] paulbakker commented on #60
Sorry for the very slow response. This was an error in the `build.gradle` file in the test project which the tests didn't catch because they are running a different `build.gradle`. Fixed now!

[2019-02-06 19:20] #60 closed

[2019-02-06 20:06] paulbakker commented on #65
Thanks for explaining the cause @mirko-lelansky, that will be helpful for fixing this issue.

[2019-02-06 20:09] paulbakker commented on #61
Yes that makes a lot of sense.
Not sure if it should be `run` specific or a global option like we did for patch modules. Typically the same `--add-opens` would be required for running and testing, which would be an argument to make it global.

[2019-02-06 21:50] AdamCarroll commented on #60
No problem.  Thanks Paul!

[2019-03-03 08:02] mtdowling commented on #61
👍 A similar option would be useful for --add-reads. All of my subprojects depend on hamcrest, and I need to place a module-info.test file in each subproject to allow hamcrest reflection access to my modules. Alternatively, placing that configuration in the root project would be great.

[2019-03-11 08:23] mpe85 commented on #13
I'm facing a very similar problem:

[...]\src\main\java\module-info.java:3: error: module not found: net.bytebuddy
    requires net.bytebuddy;

ByteBuddy is also a multi release jar with the module-info.class inside META-INF/versions/9

Could you please re-open this issue and have another look at it?

[2019-03-14 10:54] mwkroening opened #70 "Run task fails when opening resource-only package"
I need to open up a resource package not containing any classes, but the run task fails.
Running the build task and then executing the distribution will work.

A workaround is creating a dummy class in the package.

I stumbled onto this bug while experimenting with OptaPlanner on the module path: https://github.com/mwkroening/optaplanner-modulepath-example/pull/2

I also modified the test-project

[2019-03-18 10:22] bjorndarri commented on #66
I'm pretty sure this was fixed in [#64](https://github.com/java9-modularity/gradle-modules-plugin/pull/64). I haven't run into this problem since upgrading to 1.4.1.

[2019-03-20 20:07] aalmiray commented on #61
I'd love to have `--add-reads` on compile tasks too, just got bit by the following error in production code

        error: package javax.xml.parsers is not visible
    import javax.xml.parsers.ParserConfigurationException;
                    ^
      (package javax.xml.parsers is declared in module java.xml, but module jfxtras.icalendaragenda does not read it)

[2019-03-20 20:12] aalmiray opened #71 "Consider transitive dependencies when resolving TestEngine"
The current approach checks `testCompile` and `testImplementation` configurations, but fails to recognize the test engine if it happens to be defined in `compile` or `implementation`.

This is the case when a project defines test support and the test engine is part of its public API and dependencies.

[2019-03-21 09:11] tlinkowski opened #72 "Feature request: Separate compilation of module-info.java"
## Overview

I'd like to request a feature for library developers who need to target JDK 6-8 but who also want to provide a `module-info.class` (as per [Option 3](https://blog.joda.org/2018/03/jpms-negative-benefits.html) by @jodastephen).

The proposed feature has two parts:
1. *Low-level API*: separate compilation of `module-info.java`.
2. *High-level API*: easy setting of [javac `--release` opt

[2019-03-21 09:53] sandermak commented on #72
Thanks for the great overview. Definitely a good usecase to support!

[2019-03-21 09:55] danieldietrich commented on #72
It seems no one is adopting JPMS... Some believe it has no future.

[2019-03-21 10:05] siordache commented on #72
@tlinkowski The [badass-jar](https://github.com/beryx/badass-jar-plugin) plugin is probably what you're looking for.

[2019-03-21 10:06] tlinkowski commented on #72
@danieldietrich I guess it's because the adoption of JDK 9+ seems very small yet. But if it was easy to bundle a `module-info.class` and the popular libraries started doing so, then perhaps in 5-10 years JPMS could be in common use 🙂

[2019-03-21 10:09] tlinkowski commented on #72
@siordache Thanks! I forgot to mention your plugin (I think I stumbled upon it before). I'll edit the overview.

[2019-03-21 10:17] gunnarmorling commented on #72
Hey, thanks for the mention! On this one:

This is only one mode of operation in ModiTect. You also can give the contents of a _module-info.java_ file verbatim in your _pom.xml_ or _build.gradle_ file; alternatively, its contents can also be obtained from a given file in the project. This will be compiled as is to the class file, using ASM. This is also the mode that works on JDK < 9. So it seems

[2019-03-21 10:19] gunnarmorling commented on #72
It depends on the specific implementation of scanning. But we had definitely issues with that, e.g. with older versions of Jetty stumbling upon the file. Note that scanning often isn't done using reflection on the classpath but by "manually" reading class files using ASM or similar. Older tools doing that will usually not be aware of classfiles under _META-INF/versions_.

[2019-03-21 10:42] siordache commented on #72
It actually uses the org.javamodularity.moduleplugin, as mentioned in the README:

"If the plugin detects that at least one of sourceCompatibility and targetCompatibility has an effective value >= 9, it automatically applies the [gradle-modules-plugin](https://github.com/java9-modularity/gradle-modules-plugin), which adds support for the JPMS."

You can prevent the creation of a multi-release jar

[2019-03-21 12:17] tlinkowski commented on #72
@gunnarmorling Thanks, I didn't know ModiTect can do it!

Still, I'm afraid that using it that way would be a bit like using a sledgehammer to crack a nut :wink: Plus, I'd feel safer to have my `module-info.class` generated by javac.

----

As far as I understand, we're talking about tools that scan the classpath for `.class` files, but deliberately omit `META-INF` directory. Makes sense! On the o

[2019-03-21 14:55] tlinkowski commented on #72
With #73, I provided a **complete** implementation of this proposal (with tests & documentation).

Of course, this issue is still open for discussion, and I'm ready to adapt the provided PR as needed.

[2019-03-21 15:13] gunnarmorling commented on #72
I think there's nothing to be worried about, ASM works just fine. The reasoning for using it btw. was to enable the build itself running on older JDKs, which naturally can't be done when using javac to compile the descriptor. Another thing I'm curious about: how does the suggest approach work exactly, will the classes be compiled twice, once with module descriptor and once without?

That's interes

[2019-03-21 21:26] tlinkowski commented on #72
Thanks for your response, Gunnar!

Agreed that ASM works fine 🙂 What I'm worried about is that Java compiler (javac) is a really complex tool. Here, I simply propose a thin wrapper over this tool. ModiTect, on the other hand, is another complex tool that (in this use case) duplicates what javac does.

Still, ModiTect is a **great tool**, and I'd use it if the benefits for me:
- "defining dependenc

[2019-03-22 06:57] paulbakker commented on #72
@tlinkowski This is great! Thanks for the detailed writeup and PR. I'm fully onboard with supporting this, seems like a great feature to further increase JPMS adoption.
I'll need a few days before I can give it the attention it deserves (trip coming up this weekend), but I'll get to it as soon as possible.

[2019-03-27 10:26] mpe85 opened #75 "Javadoc task fails (module not found)"
The dependencies are configured like this:

[code]

The module-info.java looks like this:

[code]

It results in an error when executing the javadoc task:

[code]

ByteBuddy is a multi release jar with the module-info.class inside META-INF/versions/9

Seems to be related to this issue which is already closed: https://github.com/java9-modularity/gradle-modules-plugin/issues/13

[2019-04-01 05:05] paulbakker commented on #66
@bjorndarri thanks for confirming!

[2019-04-01 05:05] #66 closed

[2019-04-01 07:09] tlinkowski commented on #54
## For documentation purposes

Java lambdas cannot be used in the plugin *only as task inputs* (e.g. [`Task.doFirst`](https://docs.gradle.org/current/dsl/org.gradle.api.Task.html#org.gradle.api.Task:doFirst(org.gradle.api.Action)), [`Task.doLast`](https://docs.gradle.org/current/dsl/org.gradle.api.Task.html#org.gradle.api.Task:doLast(org.gradle.api.Action))).

Whenever a receiver is not a task inp

[2019-04-01 16:14] paulbakker commented on #61
Thanks for adding this @aalmiray!

[2019-04-01 16:14] #61 closed

[2019-04-01 19:29] aalmiray opened #76 "Reuse production ModuleOptions in test classes"
Compilation of production and test sources rely on their own instance of `moduleOptions`, however `test` does not see any modifications applied to `compileJava`, nor does `run` for example.

Perhaps it would be a good idea for `CompileTestJavaTask`, `TestTask`, and `RunTask` to access the `moduleOptions` from `CompileJava` as well.

[2019-04-01 19:35] aalmiray opened #77 "Support additional src & test tasks"
Only standard `src/main/java` and `src/test/java` sources are currently supported.

Adding more source sets such as `src/integration-test/java` with a custom `integrationTest` task of type `Test` fails to be recognized for module updates.

[2019-04-04 15:55] paulbakker commented on #72
Merged the work done by @tlinkowski! Will be in the next release (which I plan to publish today)

[2019-04-04 15:55] #72 closed

[2019-04-06 19:43] tlinkowski opened #79 "Proposal: Some internal refactorings"
@paulbakker, let me know if you'd be interested in accepting PRs for the following internal refactorings:

## 1. Cleanup of `test-project` and `test-project-kotlin`

Aligning to `test-project-mixed`:
- removing duplication in `build.gradle(.kts)` and `settings.gradle(.kts)` files
- removing redundant configuration (e.g. `plugins { id 'org.javamodularity.moduleplugin' }` at the start of every subpr

[2019-04-07 09:31] tlinkowski opened #80 "Proposal: Some API refactorings"
@paulbakker, let me know if you'd be interested in accepting PRs for the following:

## 1. Moving extensions from `tasks` subpackage to `extensions` subpackage

Applies to `ModuleOptions`, `TestModuleOptions` and `PatchModuleExtension`.

`CompileModuleOptions` and `ModularityExtension` already are in `extensions` subpackage.

## 2. Extracting dedicated `*ModuleOptions` interfaces for every task

T

[2019-04-07 09:35] tlinkowski opened #81 "Proposal: Updates to README.md"
@paulbakker, let me know if you'd be interested in accepting a PR for the following:

1. Replacing `buildscript { }` with `plugins { }` DSL ([*It's time to ditch the buildscript block*](https://medium.com/@StefMa/its-time-to-ditch-the-buildscript-block-a1ab12e0d9ce))
2. Adding Kotlin DSL samples for all (or at least most of) the examples

[2019-04-07 09:49] tlinkowski opened #82 "Proposal: Improved module name reporting"
@paulbakker, let me know if you'd be interested in accepting a PR for improved module name reporting.

Module name found:
- Currently, module name is reported at "lifecycle" level as:
`Found module name '{moduleName}'`
- Instead, I propose reporting as:
`{projectName}: found Java module named '{moduleName}'`

Module name not found (`module-info.java` absent):
- Currently, it's reported at "debug"

[2019-04-07 10:24] tlinkowski opened #83 "Proposal: More convenience methods in `modularity` extension"
@paulbakker, let me know if you'd be interested in accepting PRs for the following:

## 1. Adding convenience methods `modularity.addModules`, etc.

`ModuleOptions` for various tasks (`compileJava`, `compileTestJava`, `test`, `javadoc`, `run`) currently share the following four config options: `addModules`, `addReads`, `addExports`, and `addOpens`. However, all of them have to be set separately fo

[2019-04-07 13:17] RovoMe commented on #75
I've stumbled into this issue yesterday and even though I use Maven and not Gradle, I think the core issue resolves around the `javadoc` binary not being able to work well with multi-release JARs.

One of my project, which I am upgrading to Java 11 (including module support), I have a `requires org.slf4j;` directive inside the `module-info.java` file of one of the sub-modules.

A lookup of the con

[2019-04-08 04:17] mtdowling opened #84 "Can we make building non-modular projects easier?"
I need to integrate with some legacy libraries that have split packages. Updating these libraries and releasing new major versions is one solution, but not practical in my case due to the large number of consumers of the affected libraries and the reluctance of consumers to update this particular library.

In order to write code against these kinds of problematic packages while still using modular

[2019-04-08 06:00] tlinkowski commented on #84
I'm wondering: is [patching modules to prevent split packages](https://github.com/java9-modularity/gradle-modules-plugin#patching-modules-to-prevent-split-packages) not an option for you?

It seems easier than mixing classpath and modulepath (unless I misunderstood your requirements).

[2019-04-08 15:27] mtdowling commented on #84
I did consider patching, but I don’t think it’s a good solution for libraries (unless I misunderstood how it works). Patching is done manually and requires all cascading consumers of a library to also apply the same patches. That won’t work when you’re dealing with tens of thousands of direct consumers and and a massively larger number of transitive consumers.

Splitting the classpath from the mod

[2019-04-09 07:47] tlinkowski commented on #84
OK, I think I finally understand **what** you're after (maybe should've read more carefully from the start). I hope I got it right this time (my apologies if I hadn't).

BTW. You have a typo in:

You meant "modulepath", right?

## What

As far as I understand:
- you just want to build a "plain old" **non-modular** Java project (➡️ ~~`module-info.java`~~)
- but you want this plugin to place **some*

[2019-04-09 16:48] mtdowling commented on #84
Typo fixed, thanks

Your understanding of what I'm after is correct. Thanks for summarizing it. I want to build a non-modular java library that depends on modules loaded through the module path while keeping non-modular jars on the classpath.

Great question that I wished I had answered earlier :)

While you can refer to classes of modular jars loaded through the classpath, you can't find service

[2019-04-10 06:29] paulbakker commented on #79
Yes, sounds good!

[2019-04-10 06:33] paulbakker commented on #80
Both refactorings would be good. The addOpens is a bug, it's confusing that compile* allows it, so definitely good to fix.

[2019-04-10 06:35] paulbakker commented on #81
1: ok.
2: yes! Would be nice if we can somehow have an inline editor for these examples that can switch between the two. Not sure if that works with READMEs on Github though.

[2019-04-10 06:36] paulbakker commented on #82
1) Ok, looks good
2) I made it debug to not pollute output for non-modular projects, but that can definitely hide mistakes as well. I'm fine with changing the level as you suggested.

[2019-04-10 06:38] tlinkowski commented on #84
Yes, that's what I suspected when I wrote about "service loading mechanism".

BTW. A modular JAR can't even find providers it its own module, because — on classpath — it's [treated as a regular JAR](https://dzone.com/articles/the-legacy-developers-guide-to-java-9) (its `module-info.class` is ignored).

To the best of my knowledge, you got it exactly right:
- on classpath, service providers use `ME

[2019-04-10 06:42] paulbakker commented on #83
This would add this as an option, while the current behavior is still supported as well, correct? Looks like a great idea. I originally thought about doing this as the default behavior, but wasn't sure at the time if that would be flexible enough. Having both options would be really good.

We should make it very clear in the doc what the recommended approach is, it's potentially confusing (but not

[2019-04-10 06:59] paulbakker commented on #84
In most cases you would want non-modular JARs to become automatic modules I think, that way they can be used by other modules (e.g. your code that's already modular). This means it's not an option to place anything that doesn't have a module-info on the classpath.

I'm also still not completely sure what the use case is. @mtdowling you mention split packages, but patch-modules are the preferred so

[2019-04-10 07:00] paulbakker commented on #76
#83 seems to capture this well. Do you agree @aalmiray? Would be good to get some more feedback on the proposal.

[2019-04-10 07:01] tlinkowski commented on #81
This is the best that I found for GitHub READMEs: [How to show Groovy and Kotlin DSL samples side-by-side](https://blog.gradle.org/groovy-kotlin-dsl-samples)

In short, user selections are **not** remembered 🙁 (Groovy DSL open by default, Kotlin DSL closed by default).

I've already applied it for this plugin ([Fall-back to classpath mode](https://github.com/java9-modularity/gradle-modules-plugin#

[2019-04-10 07:14] tlinkowski commented on #83
Yes, definitely:
- if you need fine-grained control → `task.moduleOptions`
- if you just want to set it all → `modularity`

`ModularityExtension` won't even be stateful — it'll just set the options in the tasks' `moduleOptions`.

Agree.

----

It seems as if your comments only concerned point no. 1, am I right? Do you have any thoughts about point no. 2? Or can I just assume you agree with it too?

[2019-04-10 07:59] iherasymenko commented on #80
Regarding the third point, it is actually possible to specify addOpens for the compiler. It should be passed as a command line argument with the additional "-J" prefix. Like this: `-J--add-opens=jdk.compiler/com.sun.tools.javac.processing=ALL-UNNAMED`

[2019-04-10 08:07] nicolaiparlog commented on #84
Hi, @mtdowling lured me here [from Twitter](https://twitter.com/mtdowling/status/1115658271665209344) to comment on this issue, particularly [his message from yesterday](https://github.com/java9-modularity/gradle-modules-plugin/issues/84#issuecomment-481331591).

If I got this correctly, the initial motivation to develop a non-modular project comes from dependencies causing trouble on the module p

[2019-04-10 08:44] tlinkowski commented on #80
Interesting remark. However, as far as I understand, it wouldn't do what we need.

 `-Joption` is used to set options for the JVM in which `javac` runs (since `javac` is [just a Java application](https://github.com/openjdk/jdk/tree/master/src/jdk.compiler/share/classes/com/sun/tools/javac)).

It's not so clear from [JDK 11's `javac` manual](https://docs.oracle.com/en/java/javase/11/tools/javac.htm

[2019-04-10 09:20] iherasymenko commented on #80
Well, it might be a useful option for some annotation processor like early versions of Lombok where you had to specify this flag in order to allow lombok hook into the internal javac APIs.

[2019-04-10 16:14] mtdowling opened #85 "Generate META-INF/services from module-info.java"
Based on the discussion in #84, I'm convinced that library authors that create modular JARs should define their service providers in both module-info.java *and* in META-INF/services to ensure that their JARs work on the classpath.

Given how important it is to make JARs work on the classpath and how poorly supported in general JPMS is today (excluding this library!), I think it would be very usefu

[2019-04-10 16:15] mtdowling commented on #84
First, this thread has been very enlightening for me and hopefully others in the future. Thanks everyone for clearing things up and demystifying the module system for me.

At the same time, I need to use modular JARs that define services in a module-info.java and I need to use JARs that suffer from split packages. Placing everything on the module-path doesn't work nor does placing everything on th

[2019-04-10 16:54] paulbakker commented on #84
Just to be clear, when I said:

I meant we can't do this for *all* JARs that aren't a module. There needs to be an option to either put it on the module path, or on the classpath, so that the developer can make a choice if a JAR should become an automatic module or not. Any ideas how we could control/configure this choice?

[2019-04-10 16:56] mtdowling opened #86 "Detect Hamcrest and others when testing?"
Given that this plugin will already detect testing frameworks like JUnit and add the appropriate --add-reads and --add-opens, can we do the same thing for Hamcrest and other common testing libraries?

[2019-04-10 17:01] mtdowling commented on #84
@paulbakker I think for this to work generally, it would need to be automatic with support for opting out of trying to do the right thing by default. Could you take a similar approach to what I describe in https://gist.github.com/mtdowling/39905d445829ab1ac58d0cafecf6bc9e? Something like:

1. Any provided "roots" are always added to the module-path. These roots are useful, for example, to setup a

[2019-04-10 17:05] paulbakker commented on #86
This support needs to be added per-case (I don't know how to do it completely transparent), so let's try to list which JARs it would need explicitly.

[2019-04-10 17:30] mtdowling commented on #86
Yeah, there needs to be a hand-maintained list of these things. I implemented something like this using the ModuleFinder to parse out module names of all dependencies. It was easier to have a list of module names rather than a list of JARs. This is the list I used:

* The newer hamcrest module name: "org.hamcrest"
* Older, inferred module names: "hamcrest", "hamcrest.all"

[2019-04-10 17:55] tlinkowski commented on #84
I think it's worth remembering here that you don't need to put all *recursive* dependencies of a modular JAR on the module-path.

You only need to put all its *immediate* dependencies there because — as @nicolaiparlog [writes](https://stackoverflow.com/a/46289257/2032415):

[2019-04-11 08:16] aalmiray commented on #76
It does actually, @tlinkowski captured most of what I would like to see the plugin do 😄

[2019-04-11 08:16] #76 closed

[2019-04-12 16:36] #82 closed

[2019-05-05 21:23] tobiasdiez opened #89 "addExports and addOpens for run task"
What's the correct syntax to add `addExports` and `addOpens` statement to the `run` task? The following code does not work (i.e. adds no command line arguments).

[code]

[2019-05-06 06:57] tlinkowski commented on #89
The syntax is correct.

As I see now, it's just not implemented in [`RunTaskMutator`](https://github.com/java9-modularity/gradle-modules-plugin/blob/master/src/main/java/org/javamodularity/moduleplugin/tasks/RunTaskMutator.java#L135) (missing call to [`ModuleOptions.mutateArgs`](https://github.com/java9-modularity/gradle-modules-plugin/blob/master/src/main/java/org/javamodularity/moduleplugin/task

[2019-05-06 08:35] tobiasdiez opened #90 "Provide option to leave certain modules in the classpath"
As of now, every dependency (module/jar file) is placed in the module path. However, some legacy libraries are not yet compatible with the module system, and for these cases it would be easiest to leave them on the classpath (for example, if a jar file does not provide an automatic module name but it's file name is invalid for the module system). Could you please provide an option to specify a lis

[2019-05-06 08:42] tlinkowski commented on #90
Related to #84.

[2019-05-07 15:27] #79 closed

[2019-05-07 15:29] paulbakker commented on #89
Just merged it!

On Sun, May 5, 2019 at 11:57 PM Tomasz Linkowski <notifications@github.com>
wrote:

[2019-05-08 04:07] #89 closed

[2019-05-31 17:34] jochembroekhoff commented on #65
The current version (1.5.0) still appears to be affected.

I'm facing the same issue, also using Picocli.

[2019-06-07 18:32] alkoclick opened #93 "Patch module does not handle multiple jars"
According to patch-module syntax from [the jep](https://openjdk.java.net/jeps/261), the --patch-module command should be able to support multiple argument jars. There seems to be partial support for this in PatchModuleExtension.java, using a partial matching. However, I could not get that to work

[code]

Suggestion: Allow specifying a comma separated list of jars that will be resolved, like the a

[2019-06-23 11:38] mkmatis commented on #65
Does anyone know if there is any way to work around this issue until it's fixed?

[2019-06-25 07:47] oobles commented on #33
The greeter example of this plugin has sub-projects.  The above script does not pick up the other project source directories correctly.  I modified the isLibrary(entry) function to also return true for 'src' kinds.  There's probably a much better way to do this, but it will at least get the other projects in the module path correctly.

[code]

[2019-06-25 17:19] Burtan opened #94 "MixedJavaRelease doesn't work with kotlin sources"
Hey,
when using mixedJavaRelease, e.g.

`modularity.mixedJavaRelease(8, 12)`

the kotlin sources are compiled with the same byte code version as the module-class.java file.

[2019-06-25 20:16] tlinkowski commented on #94
Hm, `mixedJavaRelease` sets the `--release` flag to:
- `mainJavaRelease` (here, `8`) **only** for the `compileJava` task
- `moduleInfoJavaRelease` (here, `12`) **only** for the `compileModuleInfoJava` task

AFAIK, Kotlin compiler doesn't even support a `--release` flag. Instead, it supports `kotlinOptions.jvmTarget`, but it's default value is `1.6`.

So I'm wondering: are you sure you're not setti

[2019-06-26 06:48] Burtan commented on #94
Ah, I think my problem is rather the endpoints client from google.
"com.google.cloud.tools.endpoints-framework-client"

[2019-06-26 07:31] #94 closed

[2019-07-02 16:35] moaxcp opened #95 "How to use with google-truth"
[google-truth](https://github.com/google/truth/tree/master/core/src/main/java/com/google/common/truth) has a split package with the [java 8 extensions](https://github.com/google/truth/tree/master/extensions/java8/src/main/java/com/google/common/truth) and I'm struggling to figure out how to get it to work for my tests. This is what I have so far in module-info.test.

[code]

I believe I need to pa

[2019-07-03 17:25] moaxcp commented on #95
The fix is to use patchModules.

[code]

[2019-07-03 17:25] #95 closed

[2019-07-08 20:33] jawaff commented on #33
@oobles Your fix works well for Eclipse. I can import that Gradle project into Eclipse without having to do the 'gradle eclipse' generation. However, this fix doesn't work for Visual Studio Code (which is what I'm currently trying to get working). The modules come up as 'not found' in that case.

[2019-07-10 01:09] smac89 commented on #77
Also seems to be failing for `src/main/groovy`

[2019-07-10 08:11] aalmiray commented on #77
As far as I can tell Groovy does not work with modules just yet (as of 3.0.0-beta2). Supporting `src/main/groovy` or any Groovy sourceSet is out of scope until Groovy supports modules.

[2019-07-14 05:50] JonathanVusich opened #96 "NPE when trying to run application"
This error started popping up tonight while I was working on my code, and I have been trying to debug it ever since. I am creating a JavaFX program, and am using the `openjfx` plugin to load the JavaFX modules.  When I try to invoke the `run` task for my application, the build fails with this error. Any ideas? I can provide my gradle build files if that would be helpful.

[code]

[2019-07-14 06:20] tlinkowski commented on #96
1. As a side note: you're not running the newest version (which is [1.5.0](https://github.com/java9-modularity/gradle-modules-plugin/releases/tag/v1.5.0)).
2. The error most likely comes from [`execTask.getMain()`](https://docs.gradle.org/current/javadoc/org/gradle/api/tasks/JavaExec.html#getMain--) which returns `null`. The `execTask` can be:
    - either `run` from the [application plugin](https

[2019-07-14 18:09] JonathanVusich commented on #96
This is interesting because I have not needed to set the `mainClassName` field before when using the `openjfx` Gradle plugin. However, adding that field in solved my issue. Would it be possible for a proper error message to be thrown at this point? I could make the change if so.

[2019-07-14 19:07] tlinkowski commented on #96
Yes, I think it'd be very desirable.

PS. Note that I'm not a maintainer so I won't be able to merge your PR (@paulbakker will).

[2019-07-15 05:18] JonathanVusich commented on #96
Looks like the code that I would have left this on has moved elsewhere, and I am not familiar enough with the internals to know where to add a better error message. Closing as a result.

[2019-07-15 05:18] #96 closed

[2019-07-15 06:31] tlinkowski commented on #96
Yes, that's how I noticed you're running an old version.

If you were still up to providing a PR, the code moved here:
https://github.com/java9-modularity/gradle-modules-plugin/blob/44a76f62965d93a45422f62f16fb75ef6e3fe13d/src/main/java/org/javamodularity/moduleplugin/tasks/AbstractExecutionMutator.java#L24

You could simply add this message as a second parameter to [`Objects.requireNonNull`](http

[2019-08-06 10:04] mwkroening opened #97 "Modular JUnit (5.5.x) support"
JUnit 5 uses explicit modules introduced by https://github.com/junit-team/junit5/commit/02417272bb22b8c710a0f58bc98505a49ef82107 since 5.5.x.

This modules seems to be incompatible with that since upgrading JUnit to 5.5.1 (5.4.2 works) in `test-project` makes `../gradlew build` fail with:

`failed to execute tests`
[code]

` junit-platform-commons` seems to be loaded as unnamed module.
Is there so

[2019-08-09 11:08] anilewek commented on #1
Hi, [the issue](https://issues.apache.org/jira/browse/GROOVY-8647) is now fixed and closed. :)
@saw303, @paulbakker are there plans to introduce support for Spock in the near future?

[2019-08-09 11:45] tlinkowski commented on #1
@anilewek That's cool, thanks! Please note, however, that Groovy 3 (in which this issue is fixed), is still in beta: https://groovy.apache.org/download.html

[2019-08-09 13:25] siordache opened #98 "Add support for Groovy projects"
[Split packages issues](https://issues.apache.org/jira/browse/GROOVY-8647) are fixed in Groovy 3.0, so we can now add support for Groovy. This is also a preliminary step in [providing support for Spock](https://github.com/java9-modularity/gradle-modules-plugin/issues/1).

I will submit a PR shortly.

[2019-08-09 13:26] siordache commented on #1
Also note that Spock does not yet support Groovy 3 (although the latest Spock snapshots seem to [work well with Groovy 3](https://github.com/spockframework/spock/issues/997#issuecomment-497702620)).

What we can do in the meantime is [adding support for Groovy 3](https://github.com/java9-modularity/gradle-modules-plugin/issues/98).

[2019-08-10 02:58] tlinkowski opened #100 "Destination dir of compileJava changed too eagerly if Kotlin plugin applied"
I have a project where the Kotlin plugin is applied but there are no main Kotlin sources (only test Kotlin sources). However, applying this module plugin causes the destination directory of `compileJava` to be changed to that of `compileKotlin` which breaks my build.

The culprit in this plugin resides here:
https://github.com/java9-modularity/gradle-modules-plugin/blob/4014f02a411fc4f3a4981bcc696

[2019-08-11 05:33] tlinkowski opened #101 "Improve separate compilation of module-info.java"
I implemented `compileModuleInfoJava` task by making its `destinationDir` to be the same as that of `compileJava` task. Since then, I learned (thx, @sormuras!) that Gradle task shouldn't share the same output directories (it's problematic e.g. for cleaning or caching).

A much cleaner solution would be to change this:
https://github.com/java9-modularity/gradle-modules-plugin/blob/44a76f62965d93a45

[2019-08-11 09:48] sormuras commented on #101
_Kudos to whom they belong to: @marcphilipp did most of the Gradle/Kotlin stuff after I used the command line tools `javac`, `jar`, etc showing it works._

[2019-08-12 21:12] siordache commented on #101
As [discussed here](http://jigsaw-dev.1059479.n5.nabble.com/Exporting-a-package-with-no-Java-sources-td5717155.html), setting the classpath doesn't help when compiling module-info.java.  However, passing the location of the compiled classes to the --patch-module option will do the trick.

---------------------

Because compileJava, compileKotlin, compileGroovy, and compileModuleInfoJava have now d

[2019-08-12 21:20] iherasymenko commented on #97
@sormuras FYI.

Analyzing Gradle's debug logs, it seems like Gradle adds a set of non-modularized bundled ` junit-platform-*` dependencies to the Test Worker classpath which results in the aforementioned error.

`
00:02:23.400 [DEBUG] [org.gradle.process.internal.worker.DefaultWorkerProcessBuilder] Using implementation classpath
[
...omitted...
file:<omitted>/gradle-5.5.1/lib/plugins/gradle-testin

[2019-08-13 03:25] tlinkowski commented on #101
Ha, so it's actually much harder than I assumed... Thanks for your excellent research and work, Serban!

I read what you linked. As I see it now, we have the following two options (correct me if I'm wrong):
1. [Compile+Run] Compile everything (Kotlin, Java, Groovy, module-info - in that order) into a single directory so that "module-info" sees all the packages when we compile and then test/run

[2019-08-14 06:24] sjoerdtalsma commented on #75
I came across this issue and started a quick search.\
It is known with the JDK people and has been fixed: [JDK-8208269](https://bugs.openjdk.java.net/browse/JDK-8208269).

Supposedly the fix was backported to JDK version `11.0.5` as well (long-time support)

[2019-08-14 07:35] siordache commented on #101
Thanks for the great analysis, Tomasz! Option 2.b is my favorite. I will implement it in the next couple of days.

[2019-08-14 08:04] tlinkowski commented on #101
Cool!

PS. I updated point 2.b with references to the [`Sync`](https://docs.gradle.org/current/dsl/org.gradle.api.tasks.Sync.html) task that I'd recommend using here.

[2019-08-15 00:06] paulbakker commented on #100
What was the reason to change the java compile output in the first place?

[2019-08-15 03:23] tlinkowski commented on #100
So that during the compilation of `module-info.java`, the Java compiler sees the packages exported by Kotlin (otherwise, javac complains on the first `exports` clause, claiming there's no such package).

However, in #99 and #101, we've established that we won't be changing the destination dir of `compileJava` (or any other task) at all. Instead, we'll add the destination dirs to modulepath (for co

[2019-08-22 16:31] mikehearn commented on #101
I think I may be hitting this problem? If I do a clean build then I can't recompile my project because it seems there's a missing dependency between module A that depends on module B, when module B is using mixed releases. The module-info.class file isn't there when it needs to be. If I remove the mixed releases part of module B it works OK and if I manually invoke the compileModuleInfoJava task,

[2019-08-22 18:30] tlinkowski commented on #101
@mikehearn I don't think this is the same problem, but I can't be sure. Would you mind opening another issue and providing the output from your failing Gradle recompilation (including which tasks were run in which order). Thank you!

[2019-08-24 04:11] tlinkowski commented on #75
@mpe85 @RovoMe Can you confirm that it works with JDK 11.0.5, as @sjoerdtalsma suggests?

[2019-08-25 02:51] #98 closed

[2019-08-25 02:51] #100 closed

[2019-08-25 02:51] #101 closed

[2019-08-25 08:44] aalmiray opened #103 "Support custom compilation taks"
Currently the default compilation tasks for the `main` and `test` sourceSets are enhanced for Java, Kotlin, and Groovy following a strict name matching convention i.e these tasks are matched

* compileJava
* compileKotlin
* compileGroovy
* compileTestJava
* compileTestKotlin
* compileTestGroovy

It’d be great if additional compile tasks were enhanced too. This will likely require matching tasks by

[2019-08-25 09:05] siordache opened #104 "Improve unit tests to check the arguments passed to an application via start scripts"
These tests should ensure that problems similar to those reported in issue #65 no longer occur.

[2019-08-27 03:51] #104 closed

[2019-08-27 19:46] Siedlerchr commented on #33
Thanks for the script, unfortunately it doesn't work with junit 5.5, I guess it's because junit 5.5 introduced explicit modules.

With 2019-06 version of Eclipse, you can configure the module path also with the `--add exports` and `--add open` It would be awesome if these were applied from the gradle file as well.

[2019-08-28 10:10] mikehearn opened #107 "module-info not always compiled at the right time in mixed projects"
I have a project with mixed compilation, as I'm building a library I'd like to be usable on Java 8 as well.

It has two Gradle submodules and top level code at the root project, which depends on both the submodules.

Running `gradle clean build` fails because javac can't find the submodules when compiling module-info.java for the top level module. But if I run `gradle com.r3.noise.noisejava:compil

[2019-08-28 16:15] tlinkowski commented on #107
Thanks for your report, Mike!

Unfortunately, I'm unable to reproduce your problem on my own project, where I also have a `mixedJavaRelease(8)` project ([unij-api](https://github.com/tlinkowski/UniJ/blob/19d19230c284409607ab8edb0f1a5da1ccaf863b/subprojects/unij-api/unij-api.gradle.kts#L18-L23)) depending on another `mixedJavaRelease(8)` project ([unij-service-api](https://github.com/tlinkowski/Uni

[2019-08-28 17:34] tlinkowski commented on #93
As a workaround for now, you might try to specify multiple patch modules like this:
[code]

[2019-08-28 17:35] mikehearn commented on #107
Can I email you the project?

[2019-08-28 17:37] tlinkowski commented on #107
Yes. You can find my e-mail address at https://tlinkowski.pl/

[2019-08-29 21:01] #80 closed

[2019-08-31 03:21] tlinkowski commented on #107
Thanks for your patience, Mike.

I verified the problem on the project you sent me - this is indeed a bug in our plugin as well as a quirk of Gradle (which tries to build the root project as early as possible, it seems)

Since we're not setting proper dependencies between `compileModuleInfoJava` compile tasks, in your case, `:compileModuleInfoJava` is run **before** `:com.r3.noise.noisejava:compil

[2019-08-31 04:57] tlinkowski opened #110 "Perform 1.6.0 release"
If convenient for you, I'd appreciate a release by the end of this week (I'd like to release [my SuperPOM plugin](https://github.com/tlinkowski/tlinkowski-superpom) with Gradle Modules Plugin 1.6.0 bundled).

Blocked by #109.

PS. Please remember to mention in the release notes that #80 contains potential breaking changes for the Kotlin DSL.

[2019-08-31 19:15] #107 closed

[2019-09-01 00:25] paulbakker commented on #110
Done! Also finally got the travis config to work to run the release from CI

[2019-09-01 00:25] #110 closed

[2019-09-01 17:48] Ealrann opened #111 "Since 1.6.0 - "error: file should be on source path, or on patch path for module""
Hello everyone !

First, thank you for this plugin, it really helps a lot with java modules.

I just updated the org.javamodularity.moduleplugin from 1.5.0 to 1.6.0, but unfortunately my projects don't compile anymore with ```gradle build```.

For each packages, I got the following error:
[code]

I use the gradle ```includeBuild``` mechanism to include a separated gradle root (see [settings.gradle

[2019-09-01 21:55] msgilligan commented on #80
It looks like this change broke the javafx-gradle-plugin which references the old path [here](https://github.com/openjfx/javafx-gradle-plugin/blob/9727489a994bdccbac5b9d38c626f7efa61a27c2/src/main/java/org/openjfx/gradle/tasks/ExecTask.java#L38).

[2019-09-02 02:38] tlinkowski commented on #111
Hi Aurélien, thanks for your report.

If possible, please post a full log output of `gradle build --debug` (perhaps it'll be enough for us to pinpoint the issue).

[2019-09-02 03:52] paulbakker opened #112 "Print warning when using with Gradle < 5"
I found the plugin is no longer compatible with Gradle 4. I think this is acceptable, but there should be a clear warning for the user.

[2019-09-02 10:19] Ealrann commented on #111
Here the log of ```gradle build --debug```:
https://justpaste.it/3z2nf

[2019-09-02 14:48] aalmiray commented on #103
This change is bigger than I thought as pretty much all tasks enriched by the plugin are found by name. This behavior poses 2 big problems:

1. Only specific tasks get enriched. For example `compileJava` belonging to the `main` SourceSet but not  `compileDemoJava` belonging to the `demo` SourceSet.
2. Task search is performed eagerly, some tasks may fail to be found if the `modules` plugin is appl

[2019-09-02 20:06] #111 closed

[2019-09-02 22:27] FranciscoPombal commented on #97
@mwkroening @iherasymenko

I have been experimenting with getting Gradle to use the JPMS correctly. Recently I ran into this issue, even though I was not using this plugin (I am manually configuring the `compile`, `testCompile`, `run` and `test` tasks to work nicely with the modules).

My solution was to add the necessary exports at test runtime (meaning the JVM args in the `test` task):

`--add-e

[2019-09-02 22:28] FranciscoPombal commented on #65
This issue has been reported in the Gradle forums:
https://discuss.gradle.org/t/help-configuring-build-for-java-9-modules-extraneaous-command-line-arguments-passed-to-application/32970

[2019-09-02 23:01] paulbakker commented on #65
This should be fixed in the 1.6.0 release that went out on August 2nd. Please re-open if there are still issues.

[2019-09-02 23:03] paulbakker commented on #75
Closing because of inactivity. Issue doesn't seem to be related with the plugin.

[2019-09-02 23:03] #75 closed

[2019-09-02 23:32] paulbakker commented on #97
What is the recommended way of running junit on the module path now that they have proper modules? The following config works, and we could automate that in the plugin, but I would expect there is a better way to run as modules now.

[code]

[2019-09-03 00:48] sormuras commented on #97
Place module `org.junit.platform.launcher` on project's module path like done here: https://github.com/openjdk/skara/pull/66

[2019-09-03 04:14] tlinkowski commented on #65
There are many things at work here - I'll try to get them in some order.

## Reports

1. As linked above, Bradley Hunter reported on Gradle Forms [an issue about `gradle run`](https://discuss.gradle.org/t/help-configuring-build-for-java-9-modules-extraneaous-command-line-arguments-passed-to-application/32970). Apparently, this issue still may still occur due to how JVM treats arguments supplied to

[2019-09-03 09:26] FranciscoPombal commented on #97
Nice, this seems to work just fine and seems cleaner than the solution I posted above.

[2019-09-03 09:43] FranciscoPombal commented on #65
@paulbakker

See my edit in the comment above, the issue is still present as of `1.6.0`

@tlinkowski

`--debug-jvm` does not work due to the same problem outlined in that Gradle Forums post; the `--debug-jvm` just makes Gradle _append_ the following flags to the flags passed to the JVM:

[code]

Since these flags will also come after the `--module` flag, the JVM ignores them and they get passed to

[2019-09-05 11:43] alkoclick commented on #93
I'm having trouble with that command, because I'm also using the kotlin plugin and either that, or this plugin is apparently also patching in with the kotlin code?

From the debug logs:
[code]

and getting: Cause: error: --patch-module specified more than once for redacted.common.mq.main

This may be a separate bug on its own, I'll leave the judgment of that to you

[2019-09-05 12:50] tlinkowski commented on #93
Thank you for your report, Alexandros.

First of all, I'm sorry - I've provided you with an invalid workaround. As I see from what you posted, you *can't* have two `--patch-module` for the same module, and that's what my workaround does.

I think the Kotlin part is a bug introduced by #99, when @siordache used [module-patching to get `module-info.java` to "see" Kotlin classes](https://github.com/j

[2019-09-06 14:06] siordache commented on #93
Yes, I confirm.

[2019-09-10 22:57] lingocoder opened #114 "Request: Functionality Review"
Hi there @sandermak & @paulbakker.

It's probably „*the fair thing to do*“ to give you fellas a heads up about [*this repo I just recently put up*](http://bit.ly/mrJarularity).

You guys have some neat stuff out there around JPMS. Because I'm „*the new kid on the block*“,  I'm requesting you guys to please critique the functionality that [*my recently-introduced JPMS-tool*](http://bit.ly/mrJarNtro

[2019-09-11 18:01] chriskessel opened #115 "Combined module-path and classpath?"
I'm converting to modules, but in bits. I have my module, but I think I need to have all my 3rd party jars still on the class path since none of those are modularized.

How do I specify what goes on the module-path and what goes on the classpath? It looks like it's putting everything on the module-path which creates automatic packages? So, I get errors like:
[code]
I apologize if I missed it, I re

[2019-09-11 22:31] chriskessel commented on #115
I found a similar issue, closing this one.

[2019-09-11 22:31] #115 closed

[2019-09-11 22:39] chriskessel commented on #84
Adding a +1 for this ability. Following the recommendation in The Java Module System book, I'm making my project a module, but leaving all the 3rd party jars on the classpath. Then I'll work my way through my direct dependencies, but leaving all transitive dependencies on the classpath.

As it stands, if I'm understanding this thread, there's no way to do that with this plugin. That makes it hard

[2019-09-12 03:11] tlinkowski commented on #115
Thanks for opening the issue, Chris. This is indeed not supported yet.

Duplicates #84.

[2019-09-13 16:26] chriskessel opened #116 "Skipped patching, but then errors on the patch"
I'm pretty sure I'm doing something wrong. And I'm not sure if this is a gradle-modules-plugin thing or a javac --patch-module thing, but I'm getting the following error:

[code]

I've added patch commands to the gradle file, but it says it's skipping them then turns around and complains about the split package I was trying to patch. What am I doing wrong? Here's the patchModules.config:

[code]

[2019-09-13 16:47] lingocoder opened #117 "What are the reasons this plugin itself, is not also a module?"
In [*this demonstration repo*](https://bit.ly/mrjardularity) I list the steps I did to turn a local copy of the *gradle-modules-plugin* project into a JPMS module that is also packaged as a Multi-Release Jar File.

I could have eliminated the MRJAR File steps, and just did the *add `module-info.java`* -related steps. Et viola! A plugin that supports working with modules, is itself a module!

In th

[2019-09-13 17:11] lingocoder commented on #116
Hey @chriskessel, Interestingly I came across the exact same error when I was putting together [*this demonstration repo*](https://bit.ly/mrjardularity). But for different pkgs/modules.

What resolved that error for me in my demo project, was affixing an *`exclude`* on one of the two dependencies that contain the split package. I had to play around with excluding both dependencies (*one at a time,

[2019-09-13 17:33] tlinkowski commented on #116
@chriskessel

Unfortunately, patching multiple JARs into a module is not yet supported. (#93)

As to the "Skipped patching" message, it comes from this plugin:
https://github.com/java9-modularity/gradle-modules-plugin/blob/5e49c01f49a6e830c64b29f31eba0f064cf1d45d/src/main/java/org/javamodularity/moduleplugin/internal/PatchModuleResolver.java#L44-L47

Apparently, `guice-multi-bindings-4.0.jar` was

[2019-09-13 18:12] paulbakker commented on #117
The reason is that it's designed to be just a Gradle plugin, not a library. Gradle doesn't use the module system for plugins, so it would be kind of pointless to pretend being a proper module.

This would be different if the plugin _would_ be designed to be a library. I don't think we should commit to that at this point, this would be a huge responsibility to maintain, since we then have to care a

[2019-09-13 18:12] #117 closed

[2019-09-13 18:20] paulbakker commented on #114
My primary feedback is that it's unclear what the plugin is supposed to be doing. It seems to be doing a number of highly opinionated things, and I expect it will be hard to really make this general purpose enough to be widely applicable.
For module related features, why not bring them to the Gradle modules plugin?

Closing this since it's unrelated to this project.

[2019-09-13 18:20] #114 closed

[2019-09-14 13:41] tlinkowski opened #118 ""Module ___ not found" for `run` when targeting JDK 11"
When targeting JDK 11, in a project that has Java, Kotlin, and Groovy plugins applied but has only Java sources, `run` task fails with:
[code]

It seems to be due to:
- `run` task getting `build/classes/merged` on a module path (as it shouldn't)
- `mergeClasses` task being absent (as it should)

## Example

This behavior is exemplified on a [branch of my project](https://github.com/tlinkowski/UniJ

[2019-09-15 09:42] tlinkowski opened #119 "Improve Javadoc task to document `requires` entries"
Currently, `javadoc` task generates:
- overview (from a JavaDoc comment on `module-info.java`)
- "Packages" section (from `exports` in `module-info.java`)

Example:
- [`module-info.java`](https://github.com/tlinkowski/basic-annotations/blob/efc6bb51d6e81cbabb988e8c1e61c213facda033/subprojects/pl.tlinkowski.annotation.basic/src/main/java/module-info.java#L19-L42)
- [generated module JavaDoc](https:

[2019-09-17 16:43] lingocoder commented on #117
That's fair enough. And I agree with that call. A *particular* plugin distributed as an explicit module might be *pointless* in certain inflexibly constrained contexts. And your reasons for why the *gradle-modules-plugin* is not an explicit module have been super valuable as something new I've learned today. So sincere thanks for sharing that, @paulbakker :+1:

However, I would like to elaborate o

[2019-09-24 22:25] mpe85 opened #120 "Create patch release containing the fix for issue #111"
Please create a patch release (e.g. 1.6.1) that contains this bugfix: https://github.com/java9-modularity/gradle-modules-plugin/issues/111 / https://github.com/java9-modularity/gradle-modules-plugin/pull/113
This is a blocker that prevents the update to 1.6.

[2019-09-30 12:24] yuliu2016 commented on #118
I believe that I have had the same/a related issue, since changing the version to 1.6.0 in my project - `build/classes/merged` is now part of the module-path while `build/classes/java` and `build/classes/kotlin` are now not part of the module-path (which it was when I used 1.5.0)

[2019-10-10 20:10] chriskessel commented on #116
Closing this, the original error is related to me specifying incorrect jars. Opening a new issue for the multi-jar patch.

[2019-10-10 20:10] #116 closed

[2019-10-10 20:25] chriskessel opened #121 "PatchConfig: patched module isn't visible"
I'm using patchModules to deal with dependencies that provide the same package. I've got an issue with the AWS Java client and I can't seem to figure out how to use classes in the patched module plus a class from the module that was added to the patch.

Here's the starting error:

[code]

So, to get rid of the error I patched aws.java.sdk.s3 into aws.java.sdk.core.
[code]
Then, in the module-info.

[2019-10-13 15:26] Ealrann commented on #70
I have the same problem, `gradle run` fail ("Package test.main.asset not found in module"), but `gradle installDist` generate a working application.

If it can help, I made a minimal test project for this issue:
https://github.com/Ealrann/gradleTestResourcePackage.git

[2019-10-14 15:30] mizosoft opened #122 "Can't use moduleOptions extension in custom test task"
I'm having trouble running a custom test task on the classpath. The custom task is used to enable TestNG, which only a portion of the tests use.
This is the relevant portion of my build file:
[code]
Error:
[code]
It also doesn't work when I instead try to configure tasks with type ```Test```:
[code]
Am I doing anything wrong or this is a limitation in the plugin ?

[2019-10-14 15:34] mizosoft commented on #122
I'm using Gradle 5.5 and this is how I apply the plugin:
[code]

[2019-10-16 10:29] tlinkowski commented on #122
Hi Moataz, unfortunately this is not yet supported by this plugin.

Related to #77.

[2019-10-21 09:41] bredmold commented on #97
Thanks for the pointer! I think I see what the suggestion is, here. I can do either of two things.

1. Strip out the JUnit 5.5.x pieces, as someone else has clearly put some thought into this already.
1. Update my PR to pull in the additional dependency on `junit-platform-launcher`

Which is your preference?

[2019-11-01 21:38] cilki opened #124 "No way to set module version?"
I was expecting the `project.version` property to be used as the module version, but that doesn't seem to be the case. Or maybe the `moduleOptions` extension could include the version instead.

[2019-11-02 21:28] aalmiray opened #125 "Dependent project can't find module-info"
Encountered this particular problem when attempting to solve https://github.com/controlsfx/controlsfx/issues/1195#issuecomment-549027925

The Ikonli project currently provides Java11 only support in its artifacts. All artifacts have a corresponding `module-info.java` file. Adding `modularity.MixedRelease = 8` to certain projects causes the build to fail with

	/Users/aalmiray/dev/github/ikonli/ico

[2019-11-03 16:58] tlinkowski commented on #125
Thanks for your detailed bug report, Andres!

The issue you report is similar to #107. I hoped I fixed it with #109, but apparently, I haven't (at least not entirely).

---

I cloned ikonli and tried to build it from `multi-release` branch. I used `--debug` flag to see which `compileModuleInfoJava` dependencies were added by this method:
https://github.com/java9-modularity/gradle-modules-plugin/bl

[2019-11-03 19:51] aalmiray commented on #125
Thanks for the suggestion @tlinkowski. The following snippet allows projects to compile

            subproj.modularity.mixedJavaRelease 8
            subproj.tasks.classes.doLast {
                copy {
                    into subproj.sourceSets.main.output.classesDirs.files[0]
                    from(subproj.tasks.compileModuleInfoJava.destinationDir) {
                        include 'module

[2019-11-04 11:28] tlinkowski commented on #125
Eh, something is really broken in this plugin 😕 E.g. as far as I remember, `build/module-info` should contain only `module-info.class`, and it contains other Java classes too.

So I bet the current problem with the JAR occurs because both `build/java` and `build/module-info` dirs get included in the JAR. Excluding any (preferably, `build/module-info`) from `jar` task should help (however dirty it

[2019-11-19 14:29] regrog commented on #33
Is it possible to execute tests in eclipse using this configuration?
Gradle tests work good btw
I got This error running the example project in eclipse
![image](https://user-images.githubusercontent.com/7606880/69155037-52207680-0ae1-11ea-88e8-285dc96a8cbe.png)

[2019-11-26 12:32] elect86 opened #126 "Plugin applied, all `requires` fire now `error: module not found`"
I'm trying to solve the problem about resources not available in JPMS by default

I successfully fixed temporarely by consolidating source and resources together with:

[code]

But now I'm having other troubles (dependencies cant find resources), so I'd like to give a try to a plugin, and this looks the more promising

However, as soon as I apply it:

`id "org.javamodularity.moduleplugin" version

[2019-11-26 15:03] siordache commented on #126
1. You should not require the native lwjgl modules in your `module-info.java`. Replace [this code](https://github.com/elect86/v/blob/a8df20925c2c1899c7a6d18510cf50b4ec80bc8c/src/main/java/module-info.java#L3-L7) with:
[code]

2. Let the plugin take care of providing the necessary compiler flags. Remove [this section](https://github.com/elect86/v/blob/a8df20925c2c1899c7a6d18510cf50b4ec80bc8c/build.

[2019-11-26 21:37] elect86 commented on #126
It runs fine.

Is it possible to get it running in Idea as well?

[2019-11-26 22:40] siordache commented on #126
You can execute the gradle 'run' task from Idea:
![image](https://user-images.githubusercontent.com/1158863/69678487-fc7e3800-10a5-11ea-98d2-ed3822636bea.png)

[2019-11-27 08:48] elect86 commented on #126
Yeah, I know.

But to debug then?

Anyway, having the IDE fully working gives a lot of benefits, such as running via shortcuts, not having to manually define the main class, possibility to run every main on the fly, etc etc

[2019-11-27 09:38] siordache commented on #126
I didn't try it with the Community Edition, but with Idea Ultimate debugging works just fine:
![image](https://user-images.githubusercontent.com/1158863/69711741-ddad8f00-1101-11ea-81bc-68b4c0f7c2df.png)

[2019-12-05 10:25] elect86 commented on #126
thanks

[2019-12-05 10:25] #126 closed

[2019-12-08 03:09] tkslaw commented on #119
The closest I could find for this is `--expand-requires=transitive`  (documented [here][1]) but that seems to be meant for documenting multiple modules together. For instance, when I tried that option while my module had `requires transitive java.xml;` I received two warnings saying the "module xml could not be found"; the documentation still generated and `java.xml` showed up, but the links were

[2019-12-08 11:21] tlinkowski opened #128 "Idea: Use --module-source-path and --module for javac/javadoc/etc."
Currently, we instrument `javac` and `javadoc` with `--module-path` and some other options, but we're not making use of [`--module-source-path`](https://docs.oracle.com/en/java/javase/13/docs/specs/man/javac.html#the-module-source-path-option). Such approach means that some references between module descriptors are not allowed although they should (compilation fails).

## Example

[code]
[code]

C

[2019-12-10 11:08] sormuras commented on #128
It would be sooo ... normal, if Gradle supported Java modules (including all standard `javac` options) out of the box.

[2019-12-18 16:59] bamling opened #129 "Issues with executing unit tests - dependencies declared but not read"
This is probably less of an actual issue and more me not using the tooling correctly, so I apologise in advance if I just made some silly mistakes!

I recently started experimenting with Java 9 modules and Gradle and came across this plugin which seemingly takes care of all the heavy lifting for me. Most things worked out of the box for me until I  added unit tests to my modules. This is when thin

[2019-12-19 12:23] tlinkowski opened #130 "Add support for new junit-jupiter artifact ID of JUnit 5"
Currently, we handle JUnit 5 by only handling an explicit dependency on `junit-jupiter-api`:
https://github.com/java9-modularity/gradle-modules-plugin/blob/54b55d2041e6b4418a95dfac67ac1368939f95cb/src/main/java/org/javamodularity/moduleplugin/TestEngine.java#L9-L21

However, since JUnit 5.4, a new aggregate [`junit-jupiter`](https://mvnrepository.com/artifact/org.junit.jupiter/junit-jupiter) artif

[2019-12-19 12:23] tlinkowski opened #131 "Add support for testing using Mockito"
Mockito is a mocking framework commonly used with testing frameworks like JUnit. I think we could add support for it in `TestEngine`:
https://github.com/java9-modularity/gradle-modules-plugin/blob/54b55d2041e6b4418a95dfac67ac1368939f95cb/src/main/java/org/javamodularity/moduleplugin/TestEngine.java#L9-L21

(I don't know if the current code can handle "two" test engines like JUnit+Mockito)

I belie

[2019-12-19 12:27] tlinkowski commented on #129
Hi Benjamin, I gave your project a spin and indeed it fails during `compileTestJava` task with:

[code]

I looked into the code of the plugin responsible for handling this and found two reasons why your code fails: #130 and #131.

To sum up, it's not exactly an issue in your configuration - you simply run into shortcomings of this plugin. I wouldn't expect them to be fixed anytime soon. What you c

[2019-12-19 12:48] bamling commented on #129
Hey Tomasz, thanks for your reply!

Adding a `module-info.test` file with the following contents resolved the issue for me:
[code]

This apparently made `runOnClasspath = true` obsolete as well though. I was under the impression that flag was used as a _plugin toggle_ for tests... is this not the case?

[2019-12-20 14:18] tlinkowski commented on #129
Not really. As you're probably aware, classpath/modulepath can be used during:
1. compile-time
     - underlying JDK tool: `javac`
     - test-related Gradle task: `compileTestJava`
2. runtime
     - underlying JDK tool: `java`
     - test-related Gradle task: `test`

As its name suggests, `test.runOnClasspath` applies only to no. 2*.

But I agree that having a corresponding flag like `compileTest

[2020-01-16 08:34] mpe85 opened #132 "compileJava tasks fails in gradle 6.1"
After upgrade from gradle 6.0 to 6.1 the `compileJava` task fails:

[code]

This makes the plugin unusable in gradle 6.1

[2020-01-16 10:17] tlinkowski commented on #132
Thanks for reporting!

I won't be able to see into this anytime soon, but once I finally find the time, I intend to address many of the bugs reported so far.

[2020-01-28 15:35] GuidoDechamps opened #134 "add-read moduleoptions not applied for tests?"
Perhaps I'm misreading the documentation. But the configuration of add-read via moduleOptions in the Gradle file does not seem to work properly for tests. Why do I still need to add the reads via module-info.test files if I also declare it in ModuleOptions the gradle file?

I added an example test in my forked commit. https://github.com/GuidoDechamps/gradle-modules-plugin/commit/d82087bb1e75ca4152

[2020-01-29 06:44] Vineet77 opened #135 "java.lang.module.FindException and module-path argument passed in twice in 1.6.0 but not 1.5.0"
**EDIT**: I found that reverting to version 1.5.0 of this plugin fixes the issue. I guess there must of been some change in 1.6.0 that causes this issue.
Whenever I run the `run` tasks, I get the following error message:
[code]

when my project structure is this:
[code]

Where `gui` is a gralde sub project and module. I can confirm that the module has been compiled, as the directory `gui\build\cla

[2020-03-21 02:29] iherasymenko commented on #132
I believe this should fix the issue.

https://github.com/java9-modularity/gradle-modules-plugin/pull/136

[2020-03-28 17:54] aanno opened #137 "[enhancement] Add multi-release jar support"
It would be great if the modularity supports [multi-release jars](https://openjdk.java.net/jeps/238). Especially support for mixed Jars which supports Java 8 (without module system) and Java 11 (with module system) would be very helpful.

[2020-03-31 12:41] BenKenobi57 opened #138 "Non-default source path not supported"
I have a project with a legacy/non-standard source folder structure (`src` instead of `src/main/java`)

From what I can see in `ModelName.findModuleName()` this should be correctly evaluated.

[code]

Still, it seems when this method is called, my corresponding sourceset definition is not yet applied.
[code]

[code]

Any suggestions how I can enforce that the sourceset definition is considered whe

[2020-03-31 15:29] tlinkowski commented on #138
Hi, `ModelName.findModuleName()` runs at the time of plugin application (i.e. either in `plugins` block when there's no `apply false` *or* at `apply plugin: 'org.javamodularity.moduleplugin'`).

As a workaround, you might try applying the plugin *after* your source set definition.

[2020-03-31 16:18] BenKenobi57 commented on #138
you're right, that works fine :) thanks a lot!

[2020-03-31 16:18] #138 closed

[2020-03-31 17:44] renatoathaydes commented on #111
Hey @paulbakker Looks like you've fixed the bug but it does not seem to have been released yet?
Would be great if you could release this fix as it's blocking me as well with a very simple setup: I just have 2 directories set as main sources:

[code]

Thank you.

[2020-04-13 20:45] VIJAY-SUBRAMANIAM opened #139 "modular runtime image"
Is there any plan to add a new task to create a modular runtime image/custom launcher using Jlink/Jdeps?

Similar to the maven plugin provided in this link
https://blogs.oracle.com/javamagazine/containerizing-apps-with-jlink

[2020-04-14 19:35] siordache commented on #139
Did you try [this plugin](https://github.com/beryx/badass-jlink-plugin)?

[2020-04-14 21:44] VIJAY-SUBRAMANIAM commented on #139
No. let me try with that plugin

[2020-04-14 21:44] #139 closed

[2020-04-20 21:38] siordache commented on #135
This is not a bug of the gradle-modules-plugin, but a "feature" of the javafx-gradle-plugin, which under the hood [applies the gradle-modules-plugin](https://github.com/openjfx/javafx-gradle-plugin/blob/c1e816ebbae56c30232a7bff043113c868c66103/src/main/java/org/openjfx/gradle/JavaFXPlugin.java#L43).

Configuring both the gradle-modules-plugin and the javafx-gradle-plugin may cause problems when yo

[2020-04-20 23:32] siordache commented on #121
If the JAR being patched into a module contains packages not available in the original module, these packages are added to the module but not exported. In your case, aws-java-sdk-s3-1.11.649.jar contains the package 'com.amazonaws.services.s3', which didn't exist in the original 'aws.java.sdk.core' module. Therefore, you need to export this package explicitly:
[code]

[2020-04-21 09:47] andreaformica commented on #120
Hi, thanks for your nice plugin ! I am interested in using it and I am blocked as well on this bug. Do you now what could be a possible timescale to release the fix ?
Cheers

[2020-04-23 10:16] pull-vert opened #140 "Support gradle test fixtures"
**From gradle documentation :**
Gradle 5.6 introduced a new [Java test fixtures plugin](https://docs.gradle.org/current/userguide/java_testing.html#sec:java_test_fixtures), which, when applied in combination with the `java` or `java-library` plugin, will create a conventional `testFixtures` source set.
Gradle will automatically perform the wiring so that the `test` compilation depends on test fixt

[2020-04-26 08:29] Mariusz-v7 opened #142 "Failed to compile unit tests with AssertJ"
I'm not sure if this is a problem with my configuration or a bug. I have set up a project according to the instruction. After that, java sources compile properly and use module-info.java as expected.

Then I have added a test which uses AssertJ library and my unit tests stopped to compile.

import static org.assertj.core.api.Assertions.assertThat;
                              ^
  (package org.ass

[2020-04-26 15:14] siordache commented on #142
In src/test/java add a file named `module-info.test` with the following content:
[code]

See [the documentation](https://github.com/java9-modularity/gradle-modules-plugin#how-does-it-work) and [this article](https://sormuras.github.io/blog/2018-09-11-testing-in-the-modular-world#white-box-modular-testing-with-extra-java-command-line-options) for more info.

[2020-04-27 07:30] Mariusz-v7 commented on #142
Thanks, I didn't notice it's `module-info.test` not `module-info.java` and I couldn't get how it's meant to compile. Now it works!

[2020-04-27 07:31] #142 closed

[2020-04-28 02:09] msgilligan opened #143 "Gradle multiproject fails to find automatic-module-name with dependency on java-library."
I have a Gradle multi-project build. One subproject (`bitcoinj-core`) is a Java 7 JAR with an Automatic-Module-Name manifest entry written in the `jar` task. The other subproject (`wallettemplate`) has a dependency on the Java 7 module declared as follows:

[code]

The build fails with the following error:

[code]

Because Gradle detects `bitcoinj-core` is using the `java-library` plugin, the `wal

[2020-04-28 02:48] msgilligan commented on #143
This issue can be worked around by setting `-Dorg.gradle.java.compile-classpath-packaging=true` as described here: https://docs.gradle.org/6.4-rc-2/userguide/java_library_plugin.html#sub:java_library_known_issues_windows_performance

[2020-05-02 23:33] msgilligan commented on #143
@siordache Any ideas on this one? This problem seems to occur whether I'm using this plugin or the Gradle 6.4 module support.

[2020-05-03 17:24] #93 closed

[2020-05-04 14:44] siordache commented on #143
Handling this case automatically would take some work (especially to ensure that the provided solution works well in all possible scenarios), so for now my intention is just to update the documentation with a section describing the workarounds.

For the moment I see the following possibilities:

1. Convert bitcoinj-core to a proper Java module by adding a module-info.java and using the modularity

[2020-05-04 15:07] siordache commented on #143
I just noticed that @jjohannes also [posted a solution](https://github.com/gradle/gradle/issues/890#issuecomment-623392772), which is most likely the best one:
[code]

[2020-05-04 15:20] msgilligan commented on #143
Thanks for the response! I'm going to try @jjohannes' solution. #4 also looks pretty good. I would like to add a `module-info.java` to `bitcoinj-core` in the future, but I think our lead maintainer would prefer to wait a little longer.

[2020-05-04 15:42] siordache commented on #143
I'm thinking of integrating the above solution in the Java Modules Plugin. It seems pretty safe and, as @jjohannes mentioned, Gradle 6.4 also performs this setting automatically.

[2020-05-05 07:21] siordache commented on #134
@GuidoDechamps You applied the moduleOptions to the `compileTestJava` task. As a result, your tests are successfully compiled.

However, in order to execute the tests, you also need to apply the moduleOptions to the `test` task:
[code]

[2020-05-11 09:28] siordache commented on #140
@pull-vert Could you put up an example on GitHub that allows reproducing this issue?

[2020-05-11 17:17] PaulWinstone opened #150 "javafxplugin can't be applied"
Is this a JavaFX plugin or modules plugin issue
(I am not used to raising issues or working with Gradle so hope message below is enough to get going)

* What went wrong:
An exception occurred applying plugin request [id: 'org.openjfx.javafxplugin', version: '0.0.8']

I will do some more exploration and try and develop a reference example but an up front steer would be appreciated.

[2020-05-11 17:27] siordache commented on #150
@PaulWinstone Could you post your build script? Do you explicitly apply both the javafx-plugin and the modules-plugin?

[2020-05-11 17:30] PaulWinstone commented on #150
@siordache I do explicitly apply both
I have a dummy project that I can share
`/*
 * This file was generated by the Gradle 'init' task.
 *
 * This generated file contains a sample Java Library project to get you started.
 * For more details take a look at the Java Libraries chapter in the Gradle
 * User Manual available at https://docs.gradle.org/6.4/userguide/java_library_plugin.html
 */

plugins

[2020-05-11 17:34] PaulWinstone commented on #150
`/*
 * This file was generated by the Gradle 'init' task.
 *
 * This generated file contains a sample Java Library project to get you started.
 * For more details take a look at the Java Libraries chapter in the Gradle
 * User Manual available at https://docs.gradle.org/6.4/userguide/java_library_plugin.html
 */

plugins {
    // Apply the java-library plugin to add support for Java Library
    //

[2020-05-11 17:37] PaulWinstone commented on #150
I can now see how to write the error message and it makes more sense.
Thanks for your help

[2020-05-11 17:37] #150 closed

[2020-05-11 17:43] siordache commented on #150
I'm glad that you solved it!

[2020-05-13 11:18] ph4r05 opened #151 "v1.7.0 not released yet"
I wanted to use the project as stated in the Readme but both maven and plugins.gradle.com do not have version 1.7.0 published yet.

Any idea when it becomes available?

Is 1.6.0 supporting `modularity.mixedJavaRelease 8` ?

[2020-05-13 11:26] siordache commented on #151
Version 1.7.0 is currently in preparation. It will be published soon.

You can use `modularity.mixedJavaRelease` with 1.6.0.

[2020-05-13 13:17] #151 closed

[2020-05-15 23:54] #65 closed

[2020-05-18 20:36] siordache commented on #143
Fixed in 1.7.0

[2020-05-18 20:36] #143 closed

[2020-05-18 20:38] siordache commented on #135
Closing, since it's an issue of the javafx-gradle-plugin.

[2020-05-18 20:38] #135 closed

[2020-05-18 20:39] #134 closed

[2020-05-18 20:40] siordache commented on #132
Fixed in 1.7.0

[2020-05-18 20:40] #132 closed

[2020-05-18 20:41] siordache commented on #131
Support added in 1.7.0

[2020-05-18 20:41] #131 closed

[2020-05-18 20:44] siordache commented on #130
Implemented by #152

[2020-05-18 20:44] #130 closed

[2020-05-18 20:46] siordache commented on #129
Closing as duplicate of #130 and #131

[2020-05-18 20:46] #129 closed

[2020-05-18 20:48] siordache commented on #124
Support for setting module version added in 1.7.0

[2020-05-18 20:48] #124 closed

[2020-05-18 20:50] #121 closed

[2020-05-18 21:00] siordache commented on #97
This should be fixed in 1.7.0

[2020-05-18 21:00] #97 closed

[2020-05-18 21:04] siordache commented on #33
Fixed in 1.7.0

[2020-05-18 21:04] #33 closed

[2020-05-18 21:05] siordache commented on #1
Support added in 1.7.0

[2020-05-18 21:05] #1 closed

[2020-05-18 22:51] siordache commented on #112
Fixed in 1.7.0

[2020-05-18 22:51] #112 closed

[2020-05-18 22:52] siordache commented on #120
I prepared the 1.7.0 release of this plugin, which adds a few new features and fixes several issues. Some of them are:

- #1 - Introduce support for the Spock Testing framework
- #33 - Support for Eclipse plugin
- #65 - unexpected arguments in main
- #93 - Patch module does not handle multiple jars
- #111 - Since 1.6.0 - "error: file should be on source path, or on patch path for module"
- #112 -

[2020-05-27 14:55] bratkartoffel opened #156 "Circular dependency in complex project (in compileModuleInfoJava)"
Hi there,

thanks for this great plugin, I've managed to migrate my dirty hacks and workarounds to add a module-info to java 8 libraries to this gradle plugin. So far, it went without problems, although the migrated projects where pretty small / simple.

I've just tried to migrate my largest project, consisting of multiple subprojects and using gradle-test-fixtures, lombok and some other neat plug

[2020-05-27 19:37] siordache commented on #120
@paulbakker Will you be able to publish this release soon?

[2020-05-28 20:24] siordache commented on #156
Fixed in the 1.7.0 release.

[2020-05-28 20:24] #156 closed

[2020-05-28 20:27] siordache commented on #120
Version 1.7.0 has been released!

[2020-05-28 20:27] #120 closed

[2020-05-29 20:00] PaulWinstone opened #160 "Best way to work with Gradle-modules-pluin and org.beryx.jlink"
A bit of advice - may be an additional piece in the readme would be helpful

I am working with Eclipse 2020-03 buildship and a legacy project moving from Java8 to Java11+ using OpenJDK and OpenJFX running Gradle 6.4.1.

I am making progress after a significant learning curve and a number of configuration crashes too complex to clearly specify -

jlink is helpful in assembling as single module from

[2020-05-29 23:44] siordache commented on #160
jlink works very well with the gradle-modules-plugin. Actually, all [example projects](https://badass-jlink-plugin.beryx.org/releases/latest/#examples) of org.beryx.jlink use the gradle-modules-plugin (or the javafx-gradle-plugin, which applies under the hood the gradle-modules-plugin).

[2020-06-02 18:59] MajorTuvok commented on #150
@PaulWinstone could you maybe share what you changed? I'm running into the same error message as you, but don't see what you actually changed and I'd like to take a look whether your Problem matches mine...

[2020-06-02 19:35] MajorTuvok commented on #150
So for anyone also encountering this: I found a workaround by forcing moduleplugin version "1.5.0" instead of "1.7.0" [or "1.6.0"].
[code]
The stacktrace kind of makes me think that Java FX is attempting to load a class which used to be present in module plugin 1.5.0 (I don't see it on the repo atm, so that kind of makes sense), but no longer is, because I made gradle use a newer version then the

[2020-06-02 19:37] PaulWinstone commented on #150
I believe I had not applied the plugin for the subprojects

[2020-06-02 20:20] siordache commented on #150
@MajorTuvok

- Your analysis is correct. In version 1.6.0 the `ModuleOptions` class has been moved from `org.javamodularity.moduleplugin.tasks` to `org.javamodularity.moduleplugin.extensions`. This was an unfortunate breaking change. The javafx-gradle-plugin updated the [org.javamodularity:moduleplugin dependency](https://github.com/openjfx/javafx-gradle-plugin/blob/cfea3deb56b241216901a65b210e3dc

[2020-06-03 07:54] MajorTuvok commented on #150
Thanks for the quick response: `which is not compatible with recent Gradle versions` is my main Problem right now, as I'm using gradle 6.3 because javafx recommends that for working with java 14-javafx...
I'm going to try working with the snapshot [mentionend here](https://github.com/openjfx/javafx-gradle-plugin/issues/59#issuecomment-536513251). Thanks for the link! :)

[2020-06-03 09:27] PaulWinstone commented on #150
I am looking for the stable stack to give Module application with significant legacy local and Maven jars. Am I too ambitious at this time?
Eclipse 2020-3
Buildship 3.14
OpenJDK14 (Bellsoft, Gradle source and target compatibility 13)
OpenJFX (via Javafx Gradle plugin version 13 ),
Gradle 6.4.1
+ plugins
java
application
eclipse
org.openjfx.javafxplugin 0.0.8
org.beryx.jlink 2.19.0

[2020-06-03 22:04] PaulWinstone commented on #150
Brilliant - I now get an executable which runs.

[2020-06-04 07:29] MajorTuvok commented on #150
Thanks, I'll try with that one+1.7.0 instead of the snapshot+1.7.0 - atm I don't get it to run unit tests in a modular way because for some reason an `--add-opens [<module-name>] /=[<junit>]` is added (aka erroring because no package name is specified). Running the tests on classpath "hack-fixes" that.

If it doesn't work with the build you linked, I'm going to try to create a reproducible sample

[2020-06-04 09:09] siordache commented on #150
@MajorTuvok Do you have some test classes without package?  There should be no java files in src/test/java (they're only alowed in subdirectories).

[2020-06-04 09:58] MajorTuvok commented on #150
Nope, I have a module which has no code yet (both tests and regular code)

[2020-06-04 16:52] siordache commented on #150
@MajorTuvok It might be a bug. Can you put up on GitHub a sample project that allows reproducing this issue?

[2020-06-07 19:54] PaulWinstone commented on #150
Hi Serban

Not sure where to discuss this.
My project builds - I just need advice for best way to:

1. How to place native dll, the dll is currently in src/main/resources subdirectory - it needs to be on library.path - not sure how to copy in Gradle which seems better than extorting from resources in jar. I want to use an setup that has a zipped deployment with an appropriate shortcut so no formal

[2020-06-07 21:27] siordache commented on #150
@PaulWinstone Can you put your project on GitHub? Or maybe a sample project with a similar structure?

[2020-06-11 16:57] PaulWinstone commented on #150
Hi Serban

I have put a demo project here for your comments - https://github.com/PaulWinstone/demoModule.git
I don’t know if this is a good project structure / best way to create tasks?
We are refactoring the structure to match gradle defaults.
We don’t want to deploy all customer configurations to all customers - so specific configurations are placed in the module jar before jpackageImage

The gr

[2020-06-12 08:46] siordache commented on #150
@PaulWinstone  I asked a few questions on the [demo project page](https://github.com/PaulWinstone/demoModule/issues/1). Let's continue the discussion there.

[2020-06-14 14:40] MariusVolkhart opened #162 "Kotlin Kapt and JPMS"
I have a project that uses Kotlin and Kapt. Kapt is the Kotlin Annotation Processor. It serves the same purpose as the annotation processor in `javac`, but for Kotlin code.

Kapt is configured separately in Gradle as a plugin, and has it's own dependencies.

Some developers have [figured out workarounds](https://youtrack.jetbrains.com/issue/KT-32202) to partially make kapt work, but this still fal

[2020-06-15 09:37] siordache commented on #162
As you already noticed, kapt doesn't work well with multi-release JARs. My proposed workaround is to "fix" the MRJARs by converting them into standard JARs.

For your demo project you can use the following build.gradle.kts:
[code]

[2020-06-18 16:26] MariusVolkhart commented on #162
Brilliant! This is great. Thanks @siordache ! I've taken the liberty of linking back to this GitHub issue (with attribution) from the YouTrack issue for Kapt.

I don't think there is anything to be done here. Going to close this.

[2020-06-18 16:26] #162 closed

[2020-07-16 14:16] gwinstanley opened #163 "v1.7.0 build fails when using Gradle 6.4+ & application plugin"
Using the following fails for a minimal example (I can supply source as needed). I tried with JDK11/14 (and mixed 8/11), and Gradle 6.4.1/6.5, with all producing the same failed build.

[code]

When using Gradle 6.3 I was able to build projects with version 1.6.0 without problems.

Build failure message was as follows:
[code]

[2020-07-16 17:16] siordache commented on #163
I cannot reproduce it. Please upload your example project.

[2020-07-16 17:34] gwinstanley commented on #163
Sure: https://github.com/gwinstanley/java9modularity-163

[2020-07-16 19:30] siordache commented on #163
Strange... I still cannot reproduce it.  Can you please run gradlew with the `-is` flags and post the output here?

[2020-07-17 08:08] #163 closed

[2020-07-17 10:20] siordache commented on #163
The newer Gradle releases are more strict about replacing modified tasks, so the plugin fails if the above code is placed in an init script. However, it should work if you put it directly in your build.gradle.

[2020-07-28 12:45] tobiasdiez opened #164 "How does mixedJavaRelease work in a library?"
I tried to add `modularity.mixedJavaRelease 8` to my gradle.build file, but `outgoingVariants` still reports `org.gradle.jvm.version = 14`, and indeed the compiled version is not usable in JDK < 14. What I'm doing wrong?
See https://github.com/tobiasdiez/EasyBind/blob/45106f173f638a74320bf9a9df26d527a11f133a/build.gradle#L18-L23

Setting `source/targetCompatibility` to jdk 9 instead of using mixed

[2020-07-28 15:14] siordache commented on #164
I suppose that `outgoingVariants` is not able to detect the compile flags added or changed by the gradle-modules-plugin, so the reported versions are inaccurate. To check the versions of the classes in the generated JAR, I added the following task to build.gradle:
[code]

When using `modularity.mixedJavaRelease 8`, the above task reports `JavaVersion: 8` for all classes in the JAR except `module-i

[2020-07-28 21:25] tobiasdiez commented on #164
Thanks for looking into this.

When the library is used with JDK 12, the following error message is displayed
[code]
So this looks like gradle really thinks the library was compiled for jdk 14.

[2020-07-28 23:12] siordache commented on #164
Not sure if it helps, but put this in your library's build.gradle:
[code]

[2020-08-16 14:34] gwinstanley opened #165 "JavaExec internal API spec seems to have changed in Gradle 6.6, making v1.7.0 fail"
Trying to use application plugin with _gradle-modules-plugin_ 1.7.0 and _Gradle_ 6.6 causes a `ReflectionException` to be raised at `ModularJavaExec` (line 97). The Gradle internal API appears to have changed so that the line:
[code]
fails to find the specified field (`JavaExecAction javaExecHandleBuilder`) as it no longer exists in the `JavaExec` class. It has been replaced by: `DefaultJavaExecSp

[2020-08-20 15:29] siordache commented on #165
Thanks for analyzing this issue, @gwinstanley! The problematic line that you mentioned is part of the fix for #65, which can be disabled by adding the following to your build.gradle:
[code]
However, you can use the above workaround only if your application takes no arguments.

I will provide a pull request shortly.

[2020-08-25 16:12] mitm001 commented on #163
I get this same error and I have no init.gradle. I use netbeans so maybe somethings buried somewhere causing this problem. I remove your plugin and no problems.

[2020-08-30 17:27] siordache commented on #163
@mitm001 What happens if you move `org.javamodularity.moduleplugin` to the first position in the `plugins` block?

[code]

Do you still get the error?

[2020-08-30 21:09] mitm001 commented on #163
That fixes it, thanks.

[2020-09-03 16:12] gwinstanley commented on #165
So I haven't examined this in-depth, and I've never developer a Gradle plugin to-date, so I'm very likely not experienced enough in this arena to comment extensively, but I'm wondering if this section of code is overly complex for what it's aiming to achieve. Given that `ModularJavaExec` extends `JavaExec`, doesn't it have access to what it needs already? This patch is using reflection to get a ha

[2020-09-08 09:35] siordache commented on #165
That's exactly the kind of solution I would like to have and I think it should be feasible. It probably requires setting `modularity.inferModulePath = true` when using Gradle 6.4 or newer versions. I also assume that some of the settings applied by the plugin are no longer necessary (and even harmful) when using a recent version of Gradle. It would be great if someone can send a pull request with

[2020-09-09 03:24] msgilligan commented on #165
It's very limited (especially without the dependency fix-up plugin)

JavaFX with the Gradle JavaFX plugin is the big use case for me.

[2020-09-09 14:47] gwinstanley commented on #165
Agreed; I find JavaFX a strong use-case (also via **javafx-gradle-plugin**), so until they may choose to forego use of **gradle-modules-plugin**, we need to accommodate it within build files. That said, this modularity plugin has also been very useful while the Gradle team have taken their time to add JPMS support; it clearly has further to go in terms of feature parity though, so until then we'd

[2020-09-15 06:57] siordache commented on #165
@msgilligan @gwinstanley Thanks for the feedback! So it makes sense to further maintain this plugin.
I will wait for a couple of weeks, in the hope that someone sends a pull request that is less hacky than mine. After that, I will make a patch release.

[2020-10-26 21:14] aalmiray commented on #165
I use this plugin in combination with `openjfx` for the Ikonli build as the JPMS support form Gradle core is abysmal. Unfortunately I have to downgrade to Gradle `6.3` and use version `1.7.0` to have a successful build.

[2020-10-26 21:31] msgilligan commented on #165
I wouldn't call the module support in Gradle 6.4 "abysmal", I would call it "bare bones". It is usable for simple use cases and with the "extra module info" plugin it can transform some libraries to work with Java Modules.

I've been thinking about this lately and I did not give a proper answer when @siordache asked:

I just answered with the high-level use case "JavaFX with the OpenJFX Gradle Plu

[2020-11-23 21:26] doriancransac opened #169 "Run task fails with org.joor.ReflectException: java.lang.NoSuchFieldException: javaExecHandleBuilder"
Hi,

I'm trying to use this plugin to overcome the problem I've described here: https://stackoverflow.com/questions/64974974/how-can-i-force-gradle-to-use-module-path-instead-of-cp in the hope that gradle would finally understand that I need a module path and not a classpath....

However, when I apply the plugin as described in the readme, my gradle run task fails with the following exception. Any

[2020-11-24 08:17] siordache commented on #169
The error is caused by the bug described in #165.

You need to use Gradle 6.5 until this issue is fixed.

[2020-11-24 15:43] doriancransac commented on #169
Hello, thanks for the info. I'll give it a shot.

In the meantime, I managed to get gradle to successfully launch my app in -cp mode instead of giving me a FindException so at least I'm "surviving". But when I get a chance, I might still downgrade to see if I can make the modularity plugin work, cause the whole point of what I was trying to do was to be as "java 9 module compliant" as possible and

[2020-11-25 08:22] doriancransac commented on #169
Hey, quick update: I did downgrade and retest as suggested. It didn't initially work, but as I sorta pointed out in my stackoverflow question, the problem (modules not found again) then had to do with the fact that I had left a different compileJava instruction in my gradle (see below) which seems to interfere majorly with the plugin. So now it's all working, yay!

I may be wrong here but I think

[2020-11-25 17:12] Siedlerchr opened #170 "Gradle 6.5 javadoc task, addExports is not working"
Hi,

Gradle 6.5 and jdk15.01
when using the javadoc task and adding the necessary exports (the same as for compile java for the javadoc task), I still get an issue about module not visible:

[code]
[code]

[2020-11-26 10:41] doriancransac opened #171 "Gradle worker(s) hang indefinitely in test tasks, possible deadlock"
**Expected behavior**: when I run a gradle test task and the plugin is on, the gradle workers terminate properly and my test task produces a test report
**Current behavior:** when I run a gradle test task and the plugin is on, the gradle workers hang indefinitely in the test task itself (not in my test class), which in turn never finishes. Thread dumps suggest the workers are expecting a message o

[2020-11-26 11:14] doriancransac commented on #171
![image](https://user-images.githubusercontent.com/5418782/100344077-8d9d2d00-2fe0-11eb-9003-2013515b7c56.png)

I'm now also attaching a screenshot and a WMIC output relating to the process mentioned in point number 5 of my original post. That one seems to be the GradleDaemon (as opposed to GradleWorker):

[code]

[2020-12-03 14:14] mizosoft opened #172 "TestNG has the wrong module name for versions 7.0.0 and above"
Hi!

The plugin seems to have the wrong TestNG [module name](https://github.com/java9-modularity/gradle-modules-plugin/blob/b107ecae166dd6e75186486eaa8d98177884ce25/src/main/java/org/javamodularity/moduleplugin/TestEngine.java#L17) for versions 7.0.0 and above (since then TestNG started to have an `Automatic-Module-Name` of `org.testng` not `testng` as what was inferred from the Jar). This leads `

[2020-12-05 23:48] siordache commented on #170
This is definitely a bug. For now, you can use the following workaround:
[code]

[2020-12-06 01:31] siordache commented on #171
Did you set a value > 1 for `maxParallelForks`?
If yes, does the Gradle worker still hang when setting `maxParallelForks=1`?

[2020-12-06 11:02] siordache commented on #169
I added the following comment to the README:

[2020-12-23 03:05] vipcxj commented on #125
Any news？

[2021-01-03 19:48] Siedlerchr commented on #165
The workaround `modularity.disableEffectiveArgumentsAdjustment()` worked with gradle 6.7 and also the openjfx plugin

[2021-02-02 11:20] px01tv opened #174 "Could not get unknown property 'modularity'"
[code]

[code]

[2021-02-02 11:20] px01tv commented on #174
It's def installed.

[2021-02-02 13:00] iTitus opened #175 "JUnit Params not detected"
This is the Gradle script I need to get JUnit Params to work: https://github.com/iTitus/skat-java/blob/ea79acbbf5ae7532d6372f15aee996971ea37f7e/build.gradle#L47-L65

Can you add this per default in https://github.com/java9-modularity/gradle-modules-plugin/blob/master/src/main/java/org/javamodularity/moduleplugin/TestEngine.java ?

[2021-02-02 13:03] iTitus commented on #174
For the record: This might be caused by `apply plugin: "org.javamodularity.moduleplugin"`, but I'm not sure.

[2021-02-02 14:46] #174 closed

[2021-02-21 14:27] RationalityFrontline commented on #162
@siordache Thanks for the great workaround, but there exists little problems: jar files' manifests will be changed after fixing. Here's the fix:
[code]

[2021-02-21 17:23] Siedlerchr opened #176 "Problem with Provider implementation in module-info.test not found (testfx)"
Hi,

I'm currently struggling with the correct way to define a provider implementation for Ikonli https://github.com/JabRef/jabref/pull/7424/files

One GUI test using testfx is failing because it can't resolve an icon which is in JabRefIconProvider. I also added a ServiceProvider entry manually for the class path. I have no clue what I am missing here. Would be nice if you have an idea what is mis

[2021-02-23 21:43] siordache commented on #176
The guiTest task is executed on the classpath, not on the module-path. This means that the ServiceLoader cannot "see" the `provides` declarations in your module-info.java and it relies only on provider-configuration files. You already created such a file for [IkonProvider](https://github.com/JabRef/jabref/blob/7bde9c17fac0bc5fcf55a3d58a8eade528352281/src/main/resources/META-INF/services/org.kordam

[2021-02-23 21:51] Siedlerchr commented on #176
@siordache  Thanks a look for taking a look and sorry for bothering you. Totally overlooked that. 🤦

[2021-02-23 21:51] #176 closed

[2021-02-23 21:56] siordache commented on #162
@RationalityFrontline Thanks for this fix!

[2021-03-05 14:57] martilidad opened #177 "Readme references compileJava.compileModuleInfoSeparately instead of compileJava.moduleOptions.compileModuleInfoSeparately"
Title says all. This has cost me way to much time. I'll submit a PR soon.

[2021-03-13 18:26] MariusVolkhart commented on #140
[repro.zip](https://github.com/java9-modularity/gradle-modules-plugin/files/6135305/repro.zip)

@siordache Here's a project that uses test fixtures. Running the `build` task results in an error. I don't know if it's the same issue that @pull-vert faced, but it's probably related. Let me know what additional information I can give to help diagnose this.

[2021-03-16 23:11] #177 closed

[2021-03-21 16:08] siordache commented on #140
@MariusVolkhart Thanks for providing an example project. It was extremely helpful.

[2021-03-21 20:42] siordache commented on #140
@MariusVolkhart I plan to do a new release in the next few weeks. Until then, you can use jitpack to retrieve [the version from my fork](https://jitpack.io/#beryx/gradle-modules-plugin/v1.8.0-rc3).

In your example project I put the following in `spi/build.gradle.kts` to make it use the version from jitpack:

[code]

I would love your feedback.

[2021-03-21 21:00] siordache commented on #172
@mizosoft In the next release, the plugin will use the module name `org.testng`, so it will no longer support TestNG 6.x or older. People who use these older versions will need to stick with version 1.7.0 of this plugin.

I plan to do a new release in the next few weeks. Until then, you can use jitpack to retrieve [the version from my fork](https://jitpack.io/#beryx/gradle-modules-plugin/v1.8.0-rc

[2021-03-22 16:53] mizosoft commented on #172
Hi @siordache, thanks for the fix.

I tried to pull the plugin from your fork but I'm facing problems with `moduleOptions` inside `compileTestJava`. I'm not sure if it's my fault or the plugin's but when I pull in the plugin via the `plugins` block everything works.

[code]

Gradle fails with something like

[code]

[2021-03-22 21:33] siordache commented on #172
@mizosoft Thanks for spotting this bug. It was introduced while adding [support for test fixtures](https://github.com/java9-modularity/gradle-modules-plugin/issues/140).
I fixed it in `com.github.beryx:gradle-modules-plugin:1.8.0-rc4`. Give it a try!

[2021-03-22 21:37] MariusVolkhart commented on #140
@siordache Thanks for looking into this and providing a fix!

I've noticed a few possible improvements, though these might just be insurmountable limitations.
1. if the `test-fixtures` specifies a `requires transitive`, I'd expect the `test` configuration to no require me to

[2021-03-22 22:04] MariusVolkhart commented on #140
@siordache Thanks for looking into this and providing a fix!

I've noticed a few possible improvements, though these might just be insurmountable limitations.
1. If the `test-fixtures` specifies a `requires transitive`, I'd expect the `test` configuration to not require me to specify `--add-modules` and `--add-reads` in `module-info.test`. So far I've run into this being requires when using automa

[2021-03-22 22:20] MariusVolkhart commented on #140
Here's the sample project modified to demonstrate the second point in [my previous comment](https://github.com/java9-modularity/gradle-modules-plugin/issues/140#issuecomment-804425844).

Namely, packages exported by the `test-fixtures` are not exported by the test configuration. Notice that `spi/src/test/module-info.test` is required to make the tests pass. Remove it, and they fail. Also, if the `

[2021-03-22 22:37] MariusVolkhart commented on #140
Here's the sample project modified to demonstrate the first point in [my previous comment](https://github.com/java9-modularity/gradle-modules-plugin/issues/140#issuecomment-804425844)

Namely, if the `test-fixtures` configuration declares a `requires transitive`, the `test` configuration must again
1. Add the declared module
2. Read the declared module

It would be nice if the `test` configuration

[2021-03-23 11:13] mizosoft commented on #172
@siordache Thanks! Everything seems to be working correctly! Now I can remove that snippet of reflection sorcery that corrects the module name :)

[2021-03-28 23:40] #175 closed

[2021-03-28 23:52] siordache commented on #140
Sorry, I forgot to mention that in the current implementation the module descriptor of testFixtures is ignored by the test tasks.
The testFixtures jar is not treated as a distinct module. Instead, its classes are patched into the main module.

It's implemented this way because:

1. I wanted to allow split packages between testFixtures and main or test.

2. Avoiding circular dependencies.
Test clas

[2021-04-12 18:07] Siedlerchr opened #183 "Gradle 7: testCompile configuration not found"
Hi,

just upgraded to Gradle 7.0 and I got the error:

 https://github.com/JabRef/jabref/runs/2326342995?check_suite_focus=true

Execution failed for task ':compileTestJava'.
Configuration with name 'testCompile' not found.
[code]

[2021-04-12 21:29] koppor commented on #183
Adapting https://github.com/xtext/xtext-gradle-plugin/issues/4#issuecomment-96043173, the following could be a work around?

[code]

[2021-04-15 07:04] siordache commented on #183
I plan to make a new release of the gradle-modules-plugin in the next few days, which should fix this issue.

[2021-04-16 09:31] shutyaev opened #184 "Gradle 7: test.moduleOptions.runOnClasspath doesn't work for test compilation"
In my project I get the following error for compileTestJava task:
[code]
although I've explicitly disabled modules for tests with:
[code]
and I've disabled the gradle 7 inferModulePath with
[code]
Here's an isolated simple project demonstrating the behavior: https://github.com/shutyaev/gradle-7-test-issue

[2021-04-16 17:58] siordache commented on #184
Tests are always compiled on the module-path. `runOnClasspath` specifies only how the tests should be run.

The error you get for compileTestJava is due to [this issue](https://github.com/java9-modularity/gradle-modules-plugin/issues/175). The next release, which will come soon, will fix it.

Until then, you can fix your build by adding the following compiler flags to the `module-info.test` file:

[2021-04-16 18:14] shutyaev commented on #184
@siordache thanks for the quick and thorough reply! Looking forward to the new version!

[2021-04-16 18:14] #184 closed

[2021-04-24 18:41] carl-mastrangelo opened #185 "Java tests appear to not inherit module args main"
Hi,

I have a somewhat unusual project set up, and I am trying to make it modular. The project is split into customized implementations of an API which target Java  version language features.  Some of the projects are compiled with JDK6, 7, and 9, based on what they support.    For the projects that don't support Java 9, an Automatic-Module-Name field is added to MANIFEST.MF.

Building the jars fo

[2021-04-25 11:00] JamesXNelson commented on #183
Pinging thread to get a notification when closed. tyvm for working on this.

[2021-04-25 23:52] siordache commented on #185
The plugin expects that the other subprojects are also modularized. To work around this limitation, replace in [java9/build.gradle](https://github.com/perfmark/perfmark/blob/29f663efd1e4b1bf400f75dfd426f2de5bc340b2/java9/build.gradle#L16-L21):

[code]

with

[code]

[2021-04-26 10:17] siordache commented on #183
I just released gradle-modules-plugin 1.8.0 and also submitted a [pull request](https://github.com/openjfx/javafx-gradle-plugin/pull/98) for using this version with the javafx-gradle-plugin.

[2021-04-26 17:51] Siedlerchr commented on #183
I just tested the version 1.8.0 and now get an NPE:```

Caused by: java.lang.NullPointerException: Cannot invoke "String.matches(String)" because "groupId" is null
        at org.javamodularity.moduleplugin.TestEngine.lambda$select$1(TestEngine.java:71)
        at org.javamodularity.moduleplugin.TestEngine.selectMultiple(TestEngine.java:63)
        at org.javamodularity.moduleplugin.tasks.CompileT

[2021-04-26 19:17] carl-mastrangelo commented on #185
Thanks!

[2021-04-26 19:17] #185 closed

[2021-04-26 22:29] siordache commented on #183
Fixed in 1.8.1.

[2021-04-27 10:06] iTitus opened #186 "JUnit Params problem in 1.8.1"
Hello, I'm back with another JUnit Params problem:

#168 fixed only a part of the problem:

- I still have to add this to my `build.gradle` to make a parameterized test compile:
[code]
- I get this warning when compiling tests: `warning: [options] module name in --add-exports option not found: org.junit.platform.engine`

To compare, this is what I had to do before (in version 1.7.0):
[code]

Link:

[2021-04-27 16:18] siordache commented on #186
Fixed in 1.8.2.

[2021-04-28 06:43] iTitus commented on #186
The problem is fixed for me, but the warning is still there.
Thank you!

[2021-04-28 17:52] siordache commented on #186
Fixing the warning is a bit trickier because the `--add-exports` is necessary when running the tests but not when compiling them. The plugin is not smart enough to distinguish between these usages, so let's keep this issue open for now.

[2021-04-29 15:24] carl-mastrangelo opened #187 "mixedJavaRelease compatibility with toolchain"
In Gradle 6.8, a new clause called `toolchain` was introduced that decoupled the JDK used for Gradle itself from the JDK used to compile and run the project's code.   One of the limitations of this new clause is that the `sourceRelease` and `targetRelease` versions can no longer be set on the (sub)project itself, since it's forbidden by the toolchain.  For example this fails:

[code]

To work arou

[2021-05-02 16:27] Siedlerchr opened #188 "1.8.2 error: module not found: org.assertj.core error: module not found: junit (1.8.1 works)"
Hi,
I just tried the 1.8.2 plugin  version and encountered an error.
With the previous version, it works.

Related to #186  ?
We use a module-info.test file https://github.com/JabRef/jabref/blob/main/src/test/java/module-info.test

[code]

Test looks lke this:
[code]

[2021-05-03 21:58] siordache commented on #186
I think I fixed this issue in 1.8.3. There should be no more warnings.

[2021-05-03 21:59] siordache commented on #188
Yes, release 1.8.2 was a "Verschlimmbesserung" related to #186. Now I released 1.8.3 and I hope that I got it right this time.

When using 1.8.3, you can also remove [lines 8 to 20 from your module-info.test](https://github.com/JabRef/jabref/blob/e50566aa00e42cfc459d27eb3ac13934ce5535d8/src/test/java/module-info.test#L8-L20).

[2021-05-03 22:53] iTitus commented on #186
Yes it is fixed for me, thank you!

[2021-05-04 16:47] Siedlerchr commented on #188
Thanks for the quick fix! Works now :)

Grüße aus Paderborn

[2021-05-04 16:47] #188 closed

[2021-05-19 14:21] siordache commented on #187
Not sure if it works in all situations, but try this:

Replace
[code]
with
[code]

[2021-05-22 06:06] carl-mastrangelo commented on #187
I'm afraid doesn't work.   It looks like the main `compileJava` task still is setting `--module-path`, likely because I am on Gradle 7, which defaults `modularity.inferModulePath` on.  Disabling that though, runs into another problem: the `compileTestJava` task still expects the module system to be in place.   It is unable to find the the module-info from main:

[2021-05-22 12:12] siordache commented on #187
Add this:

[code]

[2021-05-22 12:22] siordache commented on #187
I expected that
[code]
would solve the problem, but it doesn't work.

[2021-05-22 15:52] siordache commented on #187
In 1.8.4 I introduced the option `compileOnClasspath` for the `compileTestJava` task.
Now it should work if you add this:
[code]

[2021-05-22 18:00] carl-mastrangelo commented on #187
Thanks!  That gets me a lot further.  `modularity.inferModulePath` is still needed but at least I can make progress.

[2021-05-23 19:51] cpw opened #189 "PatchModule is always applied to testCompile even when the test is a separate module"
Fun error trying to compile my tests:
[code]
This is caused by the fact that you're forcing patch-module for the tests in the command line:
[code]

I can see no way to disable this behaviour, and it's broken my tests as a result...

Here's the compile options:
[code]

adding in a patchOptions block does nothing. I can't see any way to disable this behaviour..

[2021-05-23 20:46] siordache commented on #189
Yes, tests are always patched into the main module, therefore you're not allowed to provide a `module-info.java` in `src/test/java`.
You should configure additional compiler flags for tests in a [module-info.test](https://github.com/java9-modularity/gradle-modules-plugin#how-does-it-work) file, not in `compileTestJava`.

If you really want to create a Java module that contains the tests, then you

[2021-05-24 03:21] cpw commented on #189
Yeah, it's what I suspected. I have to reimplement all my tests. Given how complex they are that's pretty suboptimal..

[2021-05-24 06:44] siordache commented on #189
Why do you have to reimplement your tests? What is your use case? Whitebox testing or blackbox testing?

For whiteboard testing you need to remove `src/test/java/module-info.java` and provide a `src/test/java/module-info.test` file containing something like this:
[code]

For blackbox testing, you need to create a new subproject for your tests and move all your test code there. This means:
- move `

[2021-05-24 16:05] cpw commented on #189
Yeah, it does. Let's just say I'm testing _odd_ things. I've always used sourcesets to separate related but separate things. It seems this just isn't a thing if I'm using your plugin.

[2021-05-26 08:35] donat opened #190 "Module classpath should filter invalid items"
## Expected behavior

The Java compilation should not fail for a valid dependency declaration.

## Actual behavior

If a pom file appears on the classpath then the build fails with a cryptic error message:

    * What went wrong:
    Execution failed for task ':compileJava'.

## Steps to reproduce
Run `gradle clean build` on the attached example project.
[sample.zip](https://github.com/java9-modul

[2021-05-26 13:08] siordache commented on #190
Fixed in 1.8.5.

[2021-05-26 13:09] donat commented on #190
Awesome, thank you for the fast response!

[2021-05-26 16:24] siordache commented on #187
In 1.8.6 the plugin sets `modularity.inferModulePath` to false, so you should no longer need to do it yourself.

[2021-05-26 16:56] carl-mastrangelo commented on #187
Ok.   I ran into other issues (likely my own fault) on this, so we can close this.  I'll open another if something comes up.

[2021-05-26 16:56] #187 closed

[2021-06-01 11:56] carlosame opened #191 "Trouble trying to use 'mixedJavaRelease'"
I have been attempting to use the moduleplugin to compile `module-info` separately. My configuration looks like the following:

[code]
but when I try to build (with Gradle 7.0.2, Java 16), I get this:
[code]
The plugin is applied successfully, but then it does not recognize `modularity`. I'm new to Gradle and perhaps there is something obvious that I could try, but so far I cannot make it work.

Y

[2021-06-01 13:56] siordache commented on #191
The plugin is enabled only if a `module-info.java` file is found in one of the base directories of the main sourceSet. Since Gradle tries to apply the plugin before reading the custom configuration of your sourceSet, it doesn't find the `module-info.java` file and the plugin remains inactive.
To work around this issue, you should apply the plugin only after configuring your sourceSet:

[code]

[2021-06-01 17:01] carlosame commented on #191
Thank you, it works now.

However, I got this warning:
[code]
I got rid of it by adding this:
[code]
but perhaps the `moduleplugin` could add that by default?

[2021-06-01 18:43] carlosame commented on #191
Another issue that I'm finding with `mixedJavaRelease 8,11` as I try to migrate my projects from Maven: when compiling to `--release 8` it does not find classes in modules like `jdk.xml.dom`, that aren't enabled by default in modular JDKs. For example:
[code]
I attempted this:
[code]
but the JDK does not accept `--add-modules` when compiling to `--release 8`.

I do not recall having faced these is

[2021-06-02 12:54] carlosame opened #192 "Plugin build fails with Gradle 7"
I attempted to build the `moduleplugin` with Java 16 and Gradle 7.0.2, failed with the typical resource duplicate error:
[code]
As the error message suggests, setting `duplicatesStrategy = 'exclude'` is the most obvious way to deal with the issue.

[2021-06-02 13:24] carlosame opened #194 "Plugin tests do not compile due to missing Guava dependencies"
Executing the build with Java 16, Gradle 7.0.2:
[code]
I'm preparing a PR to add the two missing dependencies.

[2021-06-04 09:32] siordache commented on #194
Thanks for the PR! Fixed in 1.8.7.

[2021-06-04 09:32] #194 closed

[2021-06-04 09:32] siordache commented on #192
Thanks for the PR! Fixed in 1.8.7.

[2021-06-04 09:32] #192 closed

[2021-06-04 14:24] siordache commented on #191
I feel there should be a cleaner solution, but I can't find it, so here is my workaround:

Create a `lib` directory and copy a JAR file containing the `org.w3c.dom` classes into it. (You can use the attached file below. Just rename it to `w3c-dom.jar`.)
[w3c-dom.zip](https://github.com/java9-modularity/gradle-modules-plugin/files/6598961/w3c-dom.zip)

Then add the `lib` directory to compileJava's

[2021-06-04 17:05] carlosame commented on #191
Thank you for taking the time to write a workaround, however I found an additional issue (the `module-info.java` is missing again when I compile tests that depend on another module, also in a project that does not follow the Maven layout conventions and despite having disabled test modularity).

I rolled out my own compilation task, and so far it works pretty well:

https://gist.github.com/carlosa

[2021-06-07 19:25] carlosame commented on #191
Turns out that if dependency variants are used, one needs to add one line of configuration to each `build.gradle` file in the subprojects so the correct metadata is produced (I added the relevant explanation to the gist). Unfortunately, using a top-level `subprojects` block does not work.

Still acceptable, though.

[2021-06-13 12:34] Kingson4Wu opened #196 "how to add both module-path and class-path in gradle ?"
https://stackoverflow.com/questions/50787235/combination-of-module-path-and-class-path-with-gradle

run project like this:
java   -classpath "/lib/*" -p "project.jar:common-biz-0.1.0.jar" --add-modules "com.project,com.common.biz" com.project.Application

module com.project is  auto module (spring-boot).

1. how to run project in idea IDE, with appropriate grade config ?
2. how to copy jar into di

[2021-06-13 14:48] bhattacharyyasom opened #197 "Unable to do qualified export"
Hello folks,
I have been learning java modules and chose this wonderful plugin to create a application to understand the basics.
The code i have created is here : [code on github](https://github.com/bhattacharyyasom/TravelManagement)
It works as it is for now.
However, whenever I try to do a qualified export to a different module i keep facing a module not found error.
There is a "**tw.travel.paym

[2021-07-03 09:40] siordache commented on #197
You can suppress this warning by adding:
[code]
to your `tw.travel.paymentsinterface/build.gradle`

[2021-07-10 21:34] weisJ commented on #164
I too ran into this issue. This also confuses my IDE as it forces the language level to be set to the newest supported version of the compiler (not very helpful when trying to stay compatible with the chosen target).

[2021-07-10 21:38] weisJ opened #198 "Support for `module-info.java` in separate folder"
Currently the `module-info.java` file needs to be in the same directory as the other sources. For use with `mixedJavaRelease` this is rather unfortunate as I now have to either use my IDE with the language level set to `9` (even though I am only targeting `8`) or `8`, which causes the IDE to report an error for the `module-info.java` file.

It would be great to have the option to place the `module

[2021-08-19 10:48] tbnguyen1407 opened #199 "Build failure when using with Gradle 7.2 and Application plugin"
**Reproduction:**

[code]

**Build log:**

[code]

[2021-08-24 07:32] siordache commented on #199
Fixed in release 1.8.8.

[2021-08-31 04:47] tbnguyen1407 opened #200 "Generated sh startscript fails to start"
**Problem**

generated sh startscript fails to start with

[code]

**Reproduction**

[code]

**Additional information**

Seems $APP_HOME is not expanded for sh script, causing wrong path to module-path.

[2021-09-02 03:58] KengoTODA opened #203 "The tag v1.8.8 is named as v1.8.7 in GitHub Releases"
I found that the page https://github.com/java9-modularity/gradle-modules-plugin/releases/tag/v1.8.8 is named as `v1.8.7`.
Please consider renaming it to `v1.8.8`.

[2021-09-02 14:40] rukemn opened #204 "Could not get unknown property 'ModularJavaExec'"
Hello, I'm trying to setup a multi-project modular application. The structure of the project is as follows

mainProject
├── subprojectA
│        └── build.gradle
├── subprojectB
│         └── build.gradle
├── subprojectC
│         └── build.gradle
├── subprojectD
│        └── build.gradle
├── build.gradle
└── settings.gradle

There are some dependencies between the projects and some on external ja

[2021-09-02 15:24] siordache commented on #204
You need to add
[code]
at the beginning of your `build.gradle`.

[2021-09-02 15:58] siordache commented on #203
Thanks, I renamed it.

[2021-09-02 15:58] #203 closed

[2021-09-02 19:47] siordache commented on #200
The issue is caused by changes in the Linux template for startscript in Gradle 7.2.

Fixed in [release 1.8.9](https://github.com/java9-modularity/gradle-modules-plugin/releases/tag/v1.8.9).

[2021-09-02 23:03] rukemn commented on #204
thank you for your quick reply, that did the trick and made me think deeper about the gradle plugin system

[2021-09-02 23:03] #204 closed

[2021-09-12 00:15] cosmiczoo opened #205 "Run task builds command with unwanted arguments"
For my modular openJFX programs, the Gradle run task constructs a long command like that below.  Looking in detail at the command constructed, I see it includes the **bolded text** a second time at the end after some java command line options.  As a consequence, the text that follows the **bolded text** is passed to the application as arguments.  The program does not and should not recognise these

[2021-09-12 15:39] siordache commented on #205
This is a long-standing issue for which I wasn't able to find a proper solution.  An [early attempt to fix it](https://github.com/java9-modularity/gradle-modules-plugin/pull/153) uses reflection and works only for Gradle 6.5 or earlier. Another [ugly pull request](https://github.com/java9-modularity/gradle-modules-plugin/pull/168) attempts to fix the issue for newer Gradle versions but it actually

[2021-09-12 15:45] #200 closed

[2021-09-12 15:46] #199 closed

[2021-09-12 15:47] #197 closed

[2021-09-12 15:48] #190 closed

[2021-09-12 15:49] #186 closed

[2021-09-12 15:49] #183 closed

[2021-09-12 15:49] #172 closed

[2021-09-14 08:28] cosmiczoo commented on #205
Thank you for confirming it's a known issue.

I would like to help diagnose the problem if I can.

Do you think walking through the construction of the command, through the
various project (e.g. Application plugin / JavaExec()) would help to
identify a solution?

I highlighted the first occurrence of --modules because I reckoned that was
the cause and the smallest change to make the command work I

[2021-09-14 15:36] msgilligan opened #206 "Deprecation warning for Gradle 8.0 in startScripts action"
In the current Supernaut.FX build, when I run:

```./gradlew clean supernaut-fx-sample-hello:startScripts  --warning-mode all --debug```

I get the warning:

Here's the detailed debug log and warning:

[code]

[2021-09-15 15:36] siordache commented on #205
Thank you so much for offering to look into this issue. I had started to write you a message explaining the interplay between the gradle-modules-plugin and the Application plugin. About 15 minutes into this I realized that there is actually a simple way to fix this issue for Gradle 6.4 and later versions. (With older versions the reflection-based workaround is still needed.) It's quite embarrassin

[2021-09-15 15:38] siordache commented on #206
Fixed in 1.8.10.

[2021-09-15 18:43] msgilligan commented on #206
Supernaut.FX is upgraded https://github.com/SupernautApp/SupernautFX/commit/9624c60f6aee7dea962c7cf5566c235cfd68db87  and the warning is gone.

Thank you!

[2021-09-15 18:43] #206 closed

[2021-09-15 19:02] cosmiczoo commented on #205
It works, well done!
Moreover, the command generated is nowhere near as long as before.
It now looks right and reasonable to me.

Thank you.  You have solved the problem about which I raised the issue.
Would you like me to do anything on the Issue Tracker?

On Wed, 15 Sept 2021 at 16:36, Serban Iordache ***@***.***>
wrote:

[2021-09-15 20:29] siordache commented on #205
Thanks, Emma! I will close the issue now. Don't hesitate to reopen it if I missed something.

[2021-09-15 20:29] #205 closed

[2021-11-24 21:50] renatoathaydes commented on #75
@tlinkowski I can confirm that at least in my case, upgrading from Java 11.0.2 to the latest (11.0.13 as of today) resolved the issue I was having that was very similar to this one, even though I don't even use this plugin.

[2022-03-16 17:53] big-andy-coates commented on #140
@siordache any chance this can be finished and merged?  I've just started using the plugin (love it), but also want to use test-fixtures...

Thanks!

[2022-04-07 23:35] big-andy-coates opened #209 "NoSuchFileException thrown when listing patched module contents"
I've created a simple example that demonstrates: https://github.com/big-andy-coates/modules_plugin_bug

The issue seems to be that the plugin is patching in the resource and test resource directories: `build/main/resources` and `build/test/resources` even if the directories don't exist, i.e. even if there are no resources.  These directories were added as part of #32.

This causes the `ModuleReade

[2022-04-24 11:36] big-andy-coates opened #211 "javac reports "--add-opens has no effect at compile time""
When using the module plugin I'm seeing warnings being reported at when compiling test classes if the `module-info.test` file contains `--add-opens` lines.

e.g.  from https://github.com/creek-service/creek-system-test, if I run:

[code]

While the build passes, it would be nice to avoid these warnings by not passing `--add-opens` to `javac`.

Passing `--add-opens` to `javac` caused me to run into

[2022-06-09 14:47] kb-1000 opened #212 "Breaks with Kotlin 1.7.0"
Using Kotlin 1.7.0, Gradle 7.4.2 and modules plugin 1.8.11

[code]

[2022-06-14 02:06] Taraxul commented on #212
I can confirm this problem. Kotlin 1.7.0 removes the inheritance from Kotlin compile tasks to gradle's AbstractCompile, and they now inherit DefaultTask. This is mentioned in the Kotlin notes [here](https://kotlinlang.org/docs/whatsnew17.html#changes-in-compile-tasks).

[2022-06-23 12:49] big-andy-coates commented on #212
+1 also seeing this issue.

[2022-07-15 12:37] KitsuneAlex commented on #212
+1 over here as well.

[2022-07-21 14:18] big-andy-coates commented on #212
Looking into a fix...

[2022-07-22 21:17] big-andy-coates commented on #209
Fixed by https://github.com/java9-modularity/gradle-modules-plugin/pull/210

[2022-07-22 21:17] #209 closed

[2022-08-06 11:59] #212 closed

[2022-08-06 12:13] #211 closed

[2022-09-08 16:14] anantharaman93 opened #216 "Unresolved reference: modularity"
When I try to use `modularity.mixedJavaRelease` under `subprojects` in a kotlin based gradle build file, I am getting *Unresolved reference: modularity* error.

[2022-10-01 16:29] mikehearn opened #217 "Not compatible with Kotlin 1.7.20"
Kotlin's Gradle plugin has changed in a backwards incompatible way:

[code]

[2022-11-29 17:15] Flowdalic opened #218 "Allow patchModule() by group and artifact id"
Assume a JPMS build which depends on Scala 3.

[code]

Such a build needs to patch the org.scala.lang.scala3.library module, provided by scala3-library, because the module exports classes in the `scala` package and depends on scala-library, which also contains classes in the `scala` package. So right now I have to

[code]

to avoid errors like "error: module scala.library reads package scala from